/* Posts style */
.hl_posts {
	color: #818181;
	font-family: "Roboto";
}
.posts_header {
	border-radius: 4px;
	border: 1px solid #f2f7fa;
	background-color: #ffffff;
	padding: 20px 30px;
	margin-bottom: 30px;
}
.posts_header .navbar-brand {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.57px;
}
.posts_header ul li span {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.posts_header ul li.dropdown a {
	border-radius: 20px;
	border: 1px solid #f2f7fa;
	background-color: #f9f9f9;
	color: #818181;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.posts_header button {
	border-radius: 4px;
	background-color: #38c936;
	height: 40px;
	width: 170px;
}
.dropdown-toggle::after {
	content: none;
}

.posts_item {
	border-radius: 4px;
	border: 1px solid #f2f7fa;
	background-color: #ffffff;
	margin-bottom: 15px;
	padding: 30px;
}
.posts_item__header {
	padding-bottom: 30px;
}
.posts_item__header_images {
	position: relative;
}
.posts_item__header_image {
	max-height: 60px;
	max-width: 60px;
}
.posts_item__header_soc {
	position: absolute;
	bottom: 0;
	right: 10px;
}
.posts_item__header_info span {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.57px;
}
.posts_item__header_info a {
	color: #198bf6;
}
.posts_item__header_buttons button:first-child {
	border-radius: 4px;
	background-color: #b757ff;
	height: 40px;
	width: 100px;
}
.posts_item__header_buttons button:last-child {
	border-radius: 4px;
	background-color: #198bf6;
	height: 40px;
	width: 100px;
}
.posts_item__text {
	margin-bottom: 80px;
}
.posts_item__text p {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 24px;
}
.posts_item__footer span {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding-right: 40px;
}
.posts_item__footer img {
	padding-bottom: .5%;
	padding-right: 10px;
}
.posts_item__footer i.icon {
	color: #afb8bd;
	padding-right: 10px;
}

