@font-face {
	font-family: "Gemunu libre medium";  
	src: url("../fonts/gemunu-libre-medium.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400;
}
html {
	font-size: 10px;
}

body {
	color: #2C2442;
	font-family: Gemunu libre medium, sans-serif;
	font-weight: 400;
	line-height: 1;
}

h2 {
	font-size: 3.5rem;
	line-height: 3.8rem;
	margin-bottom: 6.6rem;
	padding-bottom: 2rem;
	position: relative;
}

h2::after {
	content: "";
	background-color: #3b3b3b;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: 1px;
	width: 20%;
}

.more {
	background-color: #B70C66;
	border-radius: 1.5rem;
	color: #fff;
	display: inline-block;
	font-size: 3.6rem;
	font-weight: 500;
	padding: 2rem 3rem;
}

.more:hover {
	color: #fff;
	box-shadow: 0 0 5px 1px #000;
	text-decoration: none;
}

/* header style */
.navbar-brand {
	margin: 3.7rem 0 5.7rem 3.7rem;
	overflow: hidden;
	width: 9.1rem;
}

.navbar-brand img {
	width: 100%;
}

.navbar-toggler {
	margin-right: 3.7rem;
	overflow: hidden;
}

.navbar-light .navbar-toggler {
	border: 0;
}

.navbar-toggler-icon {
	height: 3em;
	width: 3.5em;
}

.nav-link {
	font-size: 3rem;
	margin-left: 3.7rem;
}

.header__intro {
	background: 
	linear-gradient(rgba(196,196,196,.6), rgba(196,196,196,.6)),
	url(../img/header-img.jpg) center no-repeat;
	background-size: 100% 100%;
	text-align: center;
	padding: 15.2rem 0 17rem;
}

.header__intro h1 {
	background-color: #2A2A2A;
	color: #fff;
	display: inline-block;
	font-size: 6.4rem;
	font-weight: 500;
}

.header__intro p {
	font-size: 4rem;
	font-weight: 500;
	margin: 0 auto;
	max-width: 99rem;
}

/* aboutus style */
.aboutus {
	background-color: #e0e0e0;
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
}

.aboutus h2 {
	padding-top: 9rem;
}

.aboutus p {
	color: #262626;
	font-size: 2.6rem;
	line-height: 2.8rem;
	margin: 0 auto;
	text-align: left;
	max-width: 76.5rem;
}

.aboutus h3 {
	font-size: 3.6rem;
	line-height: 3.9rem;
	margin-top: 6rem;
}

.aboutus img {
	margin-bottom: 13.2rem;
	max-width: 79rem;
}

.aboutus a {
	margin-bottom: 13.5rem;
}

/* ways style */
.ways {
	margin: 0 auto;
	padding: 11rem 0 13rem;
	max-width: 99rem;
}

.ways img {
	width: 100%;
}

/* powering style */
.powering {
	background-color: #e0e0e0;
	text-align: center;
	clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.powering h2 {
	padding-top: 10.7rem;
}

.powering p {
	color: #262626;
	font-size: 2.6rem;
	line-height: 2.8rem;
	margin: 0 auto;
	padding-bottom: 9.5rem;
	text-align: left;
	max-width: 76.5rem;
}

/* companies style */
.companies {
	text-align: center;
}

.companies img {
	margin: 7.3rem 0 13rem;
	max-width: 87.4rem;
}

.companies a {
	margin-bottom: 7.1rem;
}

/* partners style */
.partners {
	position: relative;
	text-align: center;
}

.partners::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #e0e0e0;
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}

.partners h2 {
	padding-top: 11.6rem;
}

.partners p {
	color: #262626;
	font-size: 2.6rem;
	line-height: 2.8rem;
	margin: 0 auto;
	padding-bottom: 9.9rem;
	position: relative;
	text-align: left;
	max-width: 76.5rem;
}

.partners img {
	position: absolute;
	bottom: -21rem;
	right: 50%;
	transform: translate(50%, 0);
	max-width: 93.6rem;
	z-index: 9;
}

/* feedback style */
.feedback {
	padding-top: 38rem;
	text-align: center;
}

.feedback img {
	margin-bottom: 2.9rem;
	max-width: 24.6rem;
}

.feedback h4 {
	font-size: 4.8rem;
	line-height: 5.3rem;
}

.feedback p {
	font-size: 2.6rem;
	line-height: 2.8rem;
	margin-bottom: 1rem;
}

.feedback__form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-bottom: 21rem;
	max-width: 43.7rem;
}

.feedback__form input {
	background-color: transparent;
	border: 1px solid #ababab;
	border-radius: .5rem;
	font-size: 2.4rem;
	line-height: 2.6rem;
	padding: 1.1rem 0;
	text-align: center;
}

.feedback__form input::placeholder {
	color: #c3c3c3;
	font-size: 2.4rem;
	line-height: 2.6rem;
}

.feedback__form input:not(:last-child) {
	margin-bottom: .9rem;
}

.feedback__form input:last-child {
	background-color: #bebebe;
	border: 1px solid #bebebe;
}

/* invite style */
.invite {
	background: url(../img/footer-img.png) center no-repeat;
	background-size: 100% 100%;
	margin-bottom: 16.35rem;
	text-align: center;
}

.invite h5 {
	font-size: 8rem;
	line-height: 8.8rem;
	margin: 0 auto;
	padding: 6.6rem 0 43.4rem;
	max-width: 66.5rem;
}

/* footer style */
.footer {
	border-top: 1px solid #9a9a9a;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 1.6rem;
}

.footer__soc {
	display: flex;
	flex-direction: row;
}

.footer__soc a {
	display: inline-block;
	margin-right: 1rem;
}

.footer__soc img {
	max-height: 2.6rem;
	max-width: 2.8rem;
}

.footer__contacts {
	text-align: center;
}

.footer__contacts a {
	display: inline-block;
	margin-bottom: 1.3rem;
}

.footer__contacts a,
.footer__contacts p {
	color: #000;
	font-size: 1.8rem;
	line-height: 2rem;
}

.footer__logo {
	max-width: 9.1rem;
}

.footer__logo img {
	width: 100%;
}
/* Large desktops and laptops */
@media (min-width: 1440px) and (max-width: 1535.98px) {
	html {
		font-size: 9px;
	}
}
@media (min-width: 1200px) and (max-width: 1439.98px) {
	html {
		font-size: 8px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {
	html {
		font-size: 7px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991.98px) {
	html {
		font-size: 6px;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767.98px) {
	html {
		font-size: 8px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 575.98px) {
	html {
		font-size: 7px;
	}
}

@media (max-width: 425px) {
	html {
		font-size: 7px;
	}
}