/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 9px;
	}

	/* header style */
	.header__title {
		font-size: 28.8px;
		padding: 63px 24.3px 32.4px;
	}

	.header__description span {
		font-size: 11.7px;
		line-height: 13.5px;
		padding-bottom: 9px;
	}

	.header__button {
		border-radius: 6.3px;
		margin: 33.3px 0 10.8px;
	}

	.header__button a {
		font-size: 13.5px;
		line-height: 15.3px;
		padding: 6.3px;
	}

	/* Partners style */
	.partners {
		margin: 0 auto;
		width: 80%;
	}

	/* Form style */
	.form {
		margin-bottom: 46.8px;
	}

	.form h2 {
		padding-bottom: 20.7px;
	}

	.form form {
		margin-bottom: 77.4px;
	}

	.form input {
		width: 80%;
	}

	.form input:not(:last-child) {
		margin-bottom: 20.7px;
	}

	/* Block style */
	.block__title {
		font-size: 23.4px;
	}

	.block__description {
		font-size: 18px;
	}

	/* Button more info style*/
	.more-info a {
		border-radius: 6.3px;
		font-size: 21.6px;
		padding: 9px;
	}

	/* Stickies style */
	.stickies {
		display: none;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html {
		font-size: 8px;
	}

	/* header style */
	.header__title {
		font-size: 26.8px;
		padding: 63px 15.3px 32.4px;
	}
}