@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	line-height: 1;
}
.container {
	margin: 0 auto;
	max-width: 1350px;
}

/* header style */
.header {
	position: relative;
}
.header-bg {
	background-image: linear-gradient(89deg, #4573ec 0%, #8f52ed 100%);
	clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 92%);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -999;
}
.header-logo {
	padding: 6rem 0 8rem;
}
.header-logo img {
	height: 2.5rem;
	width: 100%;
}
.header-title {
	padding-bottom: 8.5rem;
}
.header-title h1 {
	color: #fff;
	font-size: 2.5rem;
	text-align: center;
}
.header-table {
	/*border: .1rem solid rgba(112, 112, 112, .5);*/
	display: flex;
	flex-direction: column;
}
.header-table-row {
	display: flex;
	flex-direction: row;
}
.header-table-row-title,
.header-table-row-hycm,
.header-table-row-fxtm,
.header-table-row-fxcm {
	border: .1rem solid rgba(112, 112, 112, .5);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.5rem;
	padding: 1rem 0;
	text-align: center;
	width: calc(100% / 7);
}
.header-table-row-hycm:last-child a,
.header-table-row-fxtm:last-child a,
.header-table-row-fxcm:last-child a {
	background-color: #28bf74;
	color: #fff;
	display: block;
	font-size: 1.5rem;
	padding: 1rem 3rem;
	text-decoration: none;
	text-transform: uppercase;
}
.header-table-row-hycm:last-child img,
.header-table-row-fxtm:last-child img,
.header-table-row-fxcm:last-child img {
	padding-top: 1rem;
	width: 50%;
}
.header-table-row-title {
	background-color: #f9f9fa;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 2rem 0 2.5rem;
}
.header-table-row-hycm {
	background-color: #ffffff;
	font-weight: 500;
}
.header-table-row-hycm:first-child {
	background-color: #ee464c;
}

.header-table-row-fxtm {
	background-color: #f9f9fa;
}
.header-table-row-fxcm {
	background-color: #ffffff;
}

/* header-table-mobile style */
.header-table-mobile {
	display: none;
	padding: .5rem 2rem;
}
.header-table-mobile-item {
	background-color: #ffffff;
	border: .2rem solid #c9c9c9;
	margin-bottom: 1rem;
}
.header-table-mobile-item__title {
	display: flex;
	flex-direction: row;
	height: 10rem;
}
.header-table-mobile-item__title-left,
.header-table-mobile-item__title-right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% / 2);
}
.header-table-mobile-item__description-left,
.header-table-mobile-item__description-right {
	display: flex;
	justify-content: center;
	padding-left: 1rem;
	width: calc(100% / 2);
}
.header-table-mobile-item__title-left {
	background-color: #f9f9fa;
	font-size: 2rem;
	font-weight: 700;
}
.header-table-mobile-item:nth-child(1)
.header-table-mobile-item__title-right {
	background-color: #ee464c;
}
.header-table-mobile-item:nth-child(2)
.header-table-mobile-item__title-right {
	background-color: #f4faf0;
}
.header-table-mobile-item:nth-child(3)
.header-table-mobile-item__title-right {
	background-color: #006599;
}
.header-table-mobile-item__title-right {
	background-color: #f9f9fa;
}
.header-table-mobile-item__description {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-size: 2rem;
	line-height: 3.5rem;
	padding-top: 3rem;
}
.header-table-mobile-item__description-left {
	display: flex;
	flex-direction: column;
	font-weight: 500;
}
.header-table-mobile-item__description-right {
	display: flex;
	flex-direction: column;
}
.header-table-mobile-item__action {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-table-mobile-item__action a {
	background-color: #28bf74;
	border-radius: 1rem;
	color: #fff;
	display: inline-block;
	font-size: 2.2rem;
	font-weight: 700;
	margin-top: 5rem;
	padding: 2.5rem 7rem;
	text-decoration: none;
	text-transform: uppercase;
}
.header-table-mobile-item__action img {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	height: 2.5rem;
	width: 100%;
}

/* brokers style */
.brokers {
	padding: 5.5rem 0 20rem;
}
.brokers h1 {
	font-size: 3rem;
	padding-bottom: 6.5rem;
	text-align: center;
}
.brokers-data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.brokers-content {
	width: calc(100% - 400px);
}
.brokers-content-item {
	padding-bottom: 4rem;
	position: relative;
}
.brokers-content-item img {
	position: absolute;
	top: .5rem;
	left: 0;
	height: 3.5rem;
	width: 3.5rem;
}
.brokers-content-item h2 {
	font-size: 2.1rem;
	font-weight: 500;
	line-height: 3rem;
	padding-left: 6rem;
}
.brokers-content-item p {
	font-size: 2rem;
	line-height: 3rem;
	padding-left: 6rem;
}
.brokers-banner {
	position: relative;
	height: 600px;
	width: 300px;
}

/* footer style */
.footer {
	background-image: linear-gradient(to top, #4573ec 0%, #8f52ed 100%);
	color: #fff;
}
.footer-logo {
	padding: 5rem 0 2.5rem;
}
.footer-logo img {
	height: 2rem;
	width: 100%;
}
.footer-description {
	border: .1rem solid #ffffff;
	font-size: 1.2rem;
	line-height: 1.5rem;
	padding: 2.5rem 5rem;
	text-align: center;
}
.footer-description span {
	font-weight: 700;
}
.footer-copyright {
	padding: 3.5rem 0 3rem;
	text-align: center;
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	html, body {
		font-size: 11px;
	}

	/* brokers style */
	.brokers {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 10px;
	}

	/* brokers style */
	.brokers {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 9px;
	}

	/* brokers style */
	.brokers {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 8px;
	}

	/* header style */
	.header-title h1 {
		font-size: 5rem;
	}
	.header-bg {
		height: 40%;
	}
	.header-table {
		display: none;
	}
	.header-table-mobile {
		display: block;
	}

	/* brokers style */
	.brokers {
		padding-bottom: 3rem;
	}
	.brokers-data {
		flex-direction: column;
		justify-content: space-between;
	}
	.brokers-content {
		width: 100%;
	}
	.brokers-content-item {
		padding-bottom: 4rem;
		position: relative;
		text-align: center;
	}
	.brokers-content-item img {
		padding-bottom: 2rem;
		position: relative;
		top: 0;
		height: 4.5rem;
		width: 4.5rem;
	}
	.brokers-content-item h2 {
		padding: 0 3.5rem;
	}
	.brokers-content-item p {
		padding: 0 3.5rem;
	}
	.brokers-banner {
		margin: 0 auto;
		position: relative;
		height: 600px;
		width: 300px;
	}

	/* footer style */
	.footer-logo img {
		height: 3rem;
	}
	.footer-description {
		font-size: 1.7rem;
		line-height: 2rem;
		margin: 0 2rem;
		padding: 2.5rem 3rem;
	}
	.footer-copyright {
		font-size: 1.5rem;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 7px;
	}
}