/* Fonts */
@font-face {
  font-family: 'Decalotype-SemiBold';
  src: url('../fonts/Decalotype-SemiBold.eot');
  src: url('../fonts/Decalotype-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-SemiBold.woff') format('woff'),
  url('../fonts/Decalotype-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-ExtraBold';
  src: url('../fonts/Decalotype-ExtraBold.eot');
  src: url('../fonts/Decalotype-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-ExtraBold.woff') format('woff'),
  url('../fonts/Decalotype-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-SemiBold';
  font-weight: 400;
  line-height: normal;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 130rem;
}

/* home styles */
.home {
  background: url(../img/bg-image2.png) top 12rem center no-repeat, #3a7e89;
  background-size: 100% 100%;
  text-align: center;
  min-height: 100vh;
}

.home__logo {
  background-color: #fff;
  text-align: center;
  height: 12rem;
  padding: 2rem;
}

.home__logo img {
  height: 100%;
}

.home__title {
  padding: 5rem 0 4rem;
}

.home__title h1 {
  color: #ffffff;
  font-size: 5.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.home__title h1 br {
  display: none;
}

.home__intro {
  background: url(../img/7c-canvas.png) top 10% center no-repeat,
  url(../img/intro-bg.svg) center no-repeat;
  background-size: 66rem 38rem, 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 50rem;
  width: 100rem;
}

.home__link {
  background-color: #eb6966;
  display: inline-block;
  margin-top: -5rem;
  margin-bottom: 10rem;
  text-align: center;
}

.home__link a {
  color: #ffffff;
  display: inline-block;
  font-family: 'Decalotype-ExtraBold';
  font-size: 3rem;
  padding: 2rem 23rem;
  text-decoration: none;
  text-transform: uppercase;
}




/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 7px;
  }

  .container {
    padding: 2rem;
    max-width: 100%;
  }

  /* home styles */
  .home__title h1 br {
    display: block;
  }

  .home__intro {
    background-size: 66rem 38rem, 100% 100%;
    height: 50rem;
    width: 100%;
  }

  .home__link a {
    padding: 2rem 15rem;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 6px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 6px;
  }

  /* home styles */
  .home__intro {
    background-size: 53rem 30rem, 100% 100%;
    height: 40rem;
    width: 100%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 5px;
  }
}