/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Light';
  src: url('../fonts/Decalotype-Light.eot');
  src: url('../fonts/Decalotype-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Light.woff') format('woff'),
  url('../fonts/Decalotype-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Medium';
  src: url('../fonts/Decalotype-Medium.eot');
  src: url('../fonts/Decalotype-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Medium.woff') format('woff'),
  url('../fonts/Decalotype-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-SemiBold';
  src: url('../fonts/Decalotype-SemiBold.eot');
  src: url('../fonts/Decalotype-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-SemiBold.woff') format('woff'),
  url('../fonts/Decalotype-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-MediumItalic';
  src: url('../fonts/Decalotype-MediumItalic.eot');
  src: url('../fonts/Decalotype-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-MediumItalic.woff') format('woff'),
  url('../fonts/Decalotype-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}
html, body {
  height: 100%;
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

#main .auto-scroll {
  overflow: auto;
}

#main::-webkit-scrollbar {
  width: .5rem;
}
#main::-webkit-scrollbar-track {
  background: #ddd; 
}
#main::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1rem;
}
#main::-webkit-scrollbar-thumb:hover {
  background: #999; 
}

/* wrapper styles */
#main .wrapper {
  background-color: #f7f7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  position: relative;
  -webkit-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  height: 100%;
}

#main .menu-show {
  padding-left: 30rem;
}

#main .sidebar-show {
  padding-right: 40rem;
}

#main .sidebar-notepad {
  padding-right: 80rem;
}

/* menu styles */
#main .menu {
  background-color: #4bb4bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);;
  height: 100vh;
  width: 30rem;
  z-index: 999;
}

#main .menu-show .menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

#main .menu__title {
  background-color: #3a7e89;
  padding: 2rem 0;
}

#main .menu__title h2 {
  color: #fff;
  font-family: 'Decalotype-SemiBold';
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#main .menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 2rem 1rem;
}

#main .menu__search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main .menu__search label {
  display: block;
  height: 2rem;
  width: 2rem;
}

#main .menu__search label svg {
  fill: #fff;
  height: 2rem;
}

#main .menu__search input {
  border: none;
  background-color: transparent;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 2rem;
  margin-right: 1rem;
  padding: .5rem 1rem;
  width: 100%;
}

#main .menu__search input:focus {
  outline: 0;
}

#main .menu__search-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main .menu__search-buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  height: 3rem;
}

#main .menu__search-buttons button img {
  text-align: center;
  height: 3rem;
}

#main .menu__list {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto;
}

#main .menu__list li {
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  padding: 1rem 1rem 1rem 3rem;
}

#main .menu__list li:nth-child(even) {
  background-color: transparent;
}

#main .menu__list li:nth-child(odd) {
  background-color: #387f8a;
}

#main .menu__list li span {
  display: none;
  padding: 0 1rem;
}

#main .menu__list li:hover span{
  display: block;
}

#main .menu__list li span img {
  height: 1.8rem;
}

#main .menu__list .active {
  background: url(../img/arrow.svg) left center no-repeat;
  background-size: 3rem 3rem;
}

#main .menu__footer {
  background-color: #387f8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 1rem;
}

#main .menu__footer h3 {
  color: #fff;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

#main .menu__footer button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  height: 3rem;
}

#main .menu__footer button img {
  text-align: center;
  height: 3rem;
}

/* container styles */
#main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

/* header styles */
#main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 3rem 4rem 2rem;
  position: relative;
  width: 100%;
}

#main .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0;
  height: 8rem;
  width: 50%;
}

#main .header__logo img {
  height: 100%;
}

#main .header__logo input {
  background-color: transparent;
  border: none;
  color: #555;
  font-family: 'Decalotype-Bold';
  font-size: 2.5rem;
  margin-left: 1rem;
  padding: .5rem 1rem;
  width: 100%;
}

#main .header__logo input:focus {
  outline: 0;
}

#main .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main .header__buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2rem;
  padding: 0;
  position: relative;
  height: 3rem;
}

#main .header__buttons button:last-child {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  margin-right: 0rem;
  padding: 0 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  height: 5rem;
}

#main .header__buttons button:last-child:hover {
  color: #000;
}

#main .header__buttons button:last-child img {
  margin-right: 1rem;
  height: 2rem;
}

#main .header__buttons button img {
  text-align: center;
  height: 3rem;
}

#main .header__buttons .tooltip {
  background-color: #b4b9c1;
  color: #fff;
  -webkit-clip-path: polygon(0 1rem, 35% 1rem, 50% 0, 65% 1rem, 100% 1rem, 100% 100%, 0 100%);
  clip-path: polygon(0 1rem, 35% 1rem, 50% 0, 65% 1rem, 100% 1rem, 100% 100%, 0 100%);
  font-size: 1.5rem;
  opacity: 0;
  padding: 2rem 1rem 1rem;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  visibility: hidden;
  white-space: nowrap;
}

#main .header__buttons button:focus {
  outline: 0;
}

#main .header__buttons button:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

#main .header__video {
  background-color: #ec6966;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

#main .header__video button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  margin: 0 auto;
  padding: 1rem 1rem .5rem;
  text-decoration: none;
  text-transform: uppercase;
  /*height: 2rem;*/
}

#main .header__video button img {
  margin-right: 1rem;
  height: 2rem;
}

/* heights of some blocks */
#main .content__element.element-40 {
  height: 40%;
}

#main .content__element.element-50 {
  height: 50%;
}

#main .content__element.element-60 {
  height: 60%;
}

#main .group-long {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

#main .group-short {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

#main .group-vshort {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

#main .group-third {
  -ms-flex-preferred-size: calc(100% / 3);
  flex-basis: calc(100% / 3);
}

#main .group-half {
  -ms-flex-preferred-size: calc((100% - 14rem) / 2);
      flex-basis: calc((100% - 14rem) / 2);
}

/* content styles */
#main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 2rem 2rem;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  height: 100%;
}

#main .col {
  width: calc(20% - 2rem);
}

#main .content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  height: 100%;
}

#main .content__element {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#main .content__element:not(:last-child) {
  margin-bottom: 2rem;
}

#main .content-first,
#main .content-second {
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#main .content-first.show,
#main .content-second.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#main .content__group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#main .content__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#main .content__group textarea {
  border: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: 'Decalotype-Light';
  font-size: 1.4rem;
  margin: 0 2rem 0rem;
  overflow: auto;
  resize: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  height: 100%;
  width: calc(100% - 4rem);
}

#main .content__textarea {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 2rem;
  position: relative;
}
#main .content__textarea label {
  background: url(../img/lines.png), #fff;
  cursor: text;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  width: calc(100% - 4rem);
}

#main .content__textarea.before label {
  display: none;
}

#main .content__textarea.cut {
  margin-bottom: 6rem;
}

#main .content__textarea input {
  font-family: 'Decalotype-Light';
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid #999;
  margin: 0 2rem .5rem;
  width: 65%;
}

#main .content__textarea input:focus,
#main .content__group textarea:focus {
  outline: 0;
}

#main .content__logo-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 auto;
  position: relative;
  width: 14rem;
}

#main .content__logo-big img {
  width: 100%;
}

#main .content__logo-big input {
  background-color: #387f8a;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 11rem;
}

#main .content__logo-big input:focus {
  outline: none;
}

#main .content__logo-big.cut {
  margin-bottom: 6rem;
}

#main .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem 2rem 0;
  text-transform: uppercase;
}

#main .content__title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

#main .content__title h2 img {
  margin-right: .5rem;
  height: 2rem;
}

#main .content__title-btn {
  border: none;
  background-color: #4bb4bf;
  border-radius: 5rem;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;
  height: 2rem;
  width: 3.5rem;
}

#main .content__title-btn span {
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: .3rem;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1.3rem;
  width: 1.3rem;
}

#main .content__title-btn.off {
  background-color: #3a7e89;
}

#main .content__title-btn.off span {
  left: auto;
  right: .3rem;
}

#main .content__subtitle {
  margin: 0 2rem 0;
  text-transform: uppercase;
}

#main .content__subtitle h3 {
  color: #606060;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

#main .content__subtitle h5 {
  font-family: 'Decalotype-Bold';
  font-size: 1.2rem;
  font-weight: bold;
}

#main .content__nav {
  background-color: #4bb4bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  visibility: hidden;
  width: 100%;
}

#main .content__nav.show {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  height: 6rem;
}

#main .content__nav-comment {
  padding: 2rem 1rem;
}

#main .content__nav-comment a,
#main .content__nav-comment button {
  display: block;
  height: 2rem;
}

#main .content__nav-comment a svg,
#main .content__nav-comment button svg {
  fill: #fff;
  height: 2rem;
}

#main .content__nav-comment button {
  background-color: transparent;
  border: none;
}

#main .content__nav-comment button:focus {
  outline: 0;
}

#main .content__nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main .content__nav-buttons a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
}

#main .content__nav-buttons a:hover {
  text-decoration: underline;
}

#main .content__nav-buttons a:first-child {
  color: #387f8a;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#main .content__nav-buttons a:last-child {
  background-color: #387f8a;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  text-transform: uppercase;
  height: 100%;
}

#main .content__comment {
  background-color: #fff;
  display: none;
  position: absolute;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  width: 100%;
  z-index: 999;
}

#main .content__comment.show {
  display: block;
}

#main .content__comment.top {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  padding: 1rem 1rem 3rem;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#main .content__comment.top::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

#main .content__comment.left {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
  clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
  padding: 1rem 2rem 1rem 1rem;
  left: -100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#main .content__comment.left::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
  clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

#main .content__comment.right {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
  padding: 1rem 1rem 1rem 2rem;
  right: -100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#main .content__comment.right::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

#main .content__comment.bottom {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  padding: 3rem 1rem 1rem;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#main .content__comment.bottom::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

#main .col:first-child .content__comment.position-mobile {
  -webkit-clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  padding: 3rem 1rem 1rem;
  top: 100%;
  bottom: auto;
}

#main .col:not(:first-child) .content__comment.position-mobile {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  padding: 1rem 1rem 3rem;
  top: auto;
  bottom: 100%;
}

#main .content__comment.position-mobile {
  background-color: rgba(0, 0, 0, .1);
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#main .col:first-child .content__comment.position-mobile::before {
  -webkit-clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
}

#main .col:not(:first-child) .content__comment.position-mobile::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
}

#main .content__comment.position-mobile::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

#main .content__comment-item {
  background-color: #fff;
  border-bottom: 1px solid #f7f7f9;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#main .content__comment-item p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#main .content__comment-item span {
  color: #b4b9c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#main .content__comment-item span a {
  display: block;
  margin-left: 1rem;
  height: 1.2rem;
}

#main .content__comment-item span a img {
  height: 1.2rem;
}

#main .content__comment-form {
  background-color: #fff;
  text-align: center;
}

#main .content__comment-form textarea {
  border: 1px solid #ccc;
  margin: 0 0 1rem;
  padding: .5rem;
  height: 10rem;
  width: 100%;
}

#main .content__comment-form textarea::-webkit-input-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

#main .content__comment-form textarea::-moz-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

#main .content__comment-form textarea:-ms-input-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

#main .content__comment-form textarea::-ms-input-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

#main .content__comment-form textarea::placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

#main .content__comment-form input {
  background-color: #4bb4bf;
  border: none;
  border-radius: .5rem;
  color: #fff;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
}

#main .content__subgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 2rem 2rem;
}

#main .content__subgroup h3 {
  color: #606060;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
}

#main .content__subgroup textarea {
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
}

#main .content__subgroup-wrapper.cut {
  margin-bottom: 6rem;
}

#main .content__input-small {
  position: relative;
  /*height: 2rem;*/
  width: 100%;
}

#main .content__input-small input {
  font-family: 'Decalotype-Light';
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid #999;
  width: 90%;
}

#main .content__input-small input:focus {
  outline: none;
}

#main .content__subgroup h5 {
  color: #606060;
  font-family: 'Decalotype-MediumItalic';
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
}

#main .content__subgroup-left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#main .content__subgroup:nth-of-type(2) .content__subgroup-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#main .content__subgroup-right {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 7rem;
}

#main .content__subgroup-right input {
  background: transparent;
  border: 1px solid #333;
  height: 7rem;
  width: 7rem;
}

#main .content__subgroup-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

#main .content__subgroup-colors input {
  border: none;
  display: block;
  margin-bottom: .5rem;
  padding: 0;
  height: 3rem;
  width: 3rem;
}

#main .content__subgroup-colors input:not(:last-child) {
  margin-right: 1rem;
}

#main .content__subgroup-left input.color-input {
  background: transparent;
  border: 1px solid #333;
  height: 3rem;
  width: 3rem;
}

#main .content__subgroup-left input.color-input.chosen {
  background: inherit;
  border: none;
  color: transparent;
}

#main .content__calcs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 6rem;
}

#main .content__calcs.cut {
  margin-bottom: 6rem;
}

#main .content__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 2rem;
}

#main .content__calc:last-child {
  margin: 0 2rem 2rem;
}

#main .content__calc h4 {
  color: #000;
  font-family: 'Decalotype-Bold';
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

#main .content__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: .5rem;
}

#main .content__line input {
  font-family: 'Decalotype-Light';
  font-size: 1.4rem;
  padding: 0;
}

#main .content__line input:focus {
  outline: 0;
}

#main .content__line input:first-child {
  border: 0;
  border-bottom: 1px solid #999;
  margin-right: 1rem;
  width: 100%;
}

#main .content__line input:last-child {
  border: 1px solid #999;
  width: 5rem;
}

#main .content__line h5 {
  color: #606060;
  font-family: 'Decalotype-MediumItalic';
  font-size: 1.3rem;
  margin-right: 1rem;
  text-transform: uppercase;
  width: 100%;
}

/* footer styles */
#main .footer {
  background-color: #44a8ad;
}

#main .footer button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  margin: 0 auto;
  padding: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

#main .footer button img {
  margin-right: 1rem;
  height: 2rem;
}

/* sidebar styles */
#main .sidebar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  height: 100vh;
  width: auto;
}

#main .sidebar-show .sidebar,
#main .sidebar-notepad .sidebar {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

#main .sidebar .history,
#main .sidebar .share,
#main .sidebar .account,
#main .sidebar .create,
#main .sidebar .notepad {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

#main .sidebar .history__title,
#main .sidebar .share__title,
#main .sidebar .account__title,
#main .sidebar .create__title,
#main .sidebar .notepad__title {
  background-color: #4bb4bf;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  padding: 2rem 0;
  position: relative;
}

#main .sidebar .history__title h2,
#main .sidebar .share__title h2,
#main .sidebar .account__title h2,
#main .sidebar .create__title h2,
#main .sidebar .notepad__title h2 {
  color: #fff;
  font-family: 'Decalotype-SemiBold';
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#main .sidebar__close {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
}

#main .sidebar__close button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  height: 100%;
  width: 100%;
}

#main .sidebar__close button:focus {
  outline: none;
}

/* history styles */
#main .history {
  display: none;
  width: 40rem;
}

#main .history.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .history__list {
  background-color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto;
  padding: 2rem;
}

#main .history__list li {
  color: #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

#main .history__list h3 {
  color: #000;
  font-family: 'Decalotype-Bold';
  font-size: 1.6rem;
}

/* share styles */
#main .share {
  display: none;
  width: 40rem;
}

#main .share.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .share__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto;
  padding: 2rem;
}

#main .share__block {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  padding: 2rem;
  text-align: center;
}

#main .share__block:not(:last-child) {
  margin-bottom: 1.5rem;
}

#main .share__image {
  height: 4rem;
}

#main .share__image img {
  height: 100%;
}

#main .share__info {
  margin: 1rem 0 2rem;
}

#main .share__info h2 {
  font-family: 'Decalotype-Bold';
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#main .share__info p {
  color: #606060;
  font-size: 1.4rem;
}

#main .share__link {
  margin-bottom: 2rem;
}

#main .share__link a {
  color: #b4b9c1;
  font-size: 1rem;
}

#main .share__copy {
  background-color: #4bb4bf;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  font-size: 1.6rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
}

/* account styles */
#main .account {
  display: none;
  width: 40rem;
}

#main .account.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .account__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}

#main .account__group {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

#main .account__group label {
  color: #b4b9c1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1.2rem;
  padding: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

#main .account__group input {
  border: none;
  background-color: transparent;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  padding: 1rem;
  text-align: right;
}

#main .account__group input[type="password"] {
  max-width: 60%;
}

#main .account__group input:focus {
  text-align: left;
  outline: none;
}

#main .account__form input[type="submit"] {
  background-color: #4bb4bf;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

#main .account__form input[type="button"] {
  background-color: transparent;
  border: none;
  color: #4bb4bf;
  cursor: pointer;
  font-size: 1.6rem;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

/* create styles */
#main .create {
  display: none;
  width: 40rem;
}

#main .create.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .create__title h4 {
  color: #fff;
  font-size: 1.8rem;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

#main .create__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}

#main .create__content h3 {
  font-family: 'Decalotype-Bold';
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#main .create__content p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#main .create__content form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#main .create__content form input[type="text"] {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  width: 100%;
}

#main .create__content form input[type="submit"] {
  background-color: #4bb4bf;
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  margin: 0 auto;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

/* notepad styles */
#main .notepad {
  display: none;
  width: 80rem;
}

#main .notepad.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu toggler styles */
#main .menu-toggler {
  position: absolute;
  top: 5.5rem;
  right: -3rem;
  z-index: 999;
}

#main .menu-toggler button {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 0 .5rem #777;
  box-shadow: 0 0 .5rem #777;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 3rem;
}

#main .menu-toggler button:focus {
  outline: 0;
}

#main .menu-toggler button svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 100%;
  width: 100%;
}

#main .menu-show .menu-toggler button svg {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* when notepad open */
/* wrapper styles */
#main .wrapper.column {
  height: auto;
}

/* header styles */
#main .wrapper.column .header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#main .wrapper.column .header__logo {
  width: 100%;
}

#main .wrapper.column .header__buttons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#main .wrapper.column .header__video {
  width: 100%;
}

/* content styles */
#main .wrapper.column .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}

#main .wrapper.column .col {
  width: 100%;
}

#main .wrapper.column .content__element {
  margin-bottom: 2rem;
}

#main .wrapper.column .content__logo-big {
  margin: 2rem auto 2rem 2rem;
}

#main .wrapper.column .content__subgroup h5 {
  font-size: 1.3rem;
  text-align: left;
}

#main .wrapper.column .content__line input {
  font-size: 1.8rem;
}

/* video popup styles */
#main .video-popup {
  background-color: #eee;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

#main .video-popup.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .video-popup__title {
  padding: 2rem 0 4rem;
}

#main .video-popup__title h2 {
  color: #000;
  font-family: 'Decalotype-SemiBold';
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#main .video-popup__frame {
  height: 60%;
  width: 60%;
}

#main .video-popup__frame iframe {
  height: 100%;
  width: 100%;
}

#main .video-popup__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 5rem;
  width: 5rem;
}

#main .video-popup__close button {
  background-color: transparent;
  border: none;
  color: #ec6966;
  cursor: pointer;
  font-size: 4.5rem;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 7px;
  }

  /* wrapper styles */
  #main .menu-show {
    padding-left: 40%;
  }

  #main .sidebar-show,
  #main .sidebar-notepad {
    padding-right: 60%;
  }

  /* menu styles */
  #main .menu {
    width: 40%;
  }

  #main .menu-show .menu-toggler {
    top: 1.5rem;
    right: 2rem;
  }

  /* sidebar styles */
  #main .sidebar {
    width: 60%;
    z-index: 888;
  }

  #main .sidebar .history,
  #main .sidebar .share,
  #main .sidebar .account,
  #main .sidebar .notepad {
    width: 100%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
  
  /* wrapper styles */
  #main .wrapper {
    height: auto;
  }

  #main .menu-show {
    padding-left: 0rem;
  }

  #main .sidebar-show,
  #main .sidebar-notepad {
    padding-right: 0rem;
  }

  /* menu styles */
  #main .menu {
    width: 100%;
  }

  /* header styles */
  #main .header__video {
    width: 100%;
  }

  /* content styles */
  #main .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #main .col {
    width: 100%;
  }

  #main .content__element {
    margin-bottom: 2rem;
  }

  #main .content__logo-big {
    margin: 2rem;
  }

  #main .content__subgroup h5 {
    font-size: 1.3rem;
    text-align: left;
  }

  #main .content__line input {
    font-size: 1.8rem;
  }

  /* sidebar styles */
  #main .sidebar {
    width: 100%;
    z-index: 999;
  }

  #main .sidebar .history,
  #main .sidebar .share,
  #main .sidebar .account,
  #main .sidebar .notepad {
    width: 100%;
  }

  /* video popup styles */
  #main .video-popup__title h2 br {
    display: none;
  }
  #main .video-popup__frame {
    height: 30%;
    width: 100%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  /* video popup styles */
  #main .video-popup__frame {
    height: 60%;
    width: 80%;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 7px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 7px;
  }

  /* header styles */
  #main .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #main .header__logo {
    width: 100%;
  }

  #main .header__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 6px;
  }  
}