/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-ExtraBold';
  src: url('../fonts/Decalotype-ExtraBold.eot');
  src: url('../fonts/Decalotype-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-ExtraBold.woff') format('woff'),
  url('../fonts/Decalotype-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}

/* button styles */
.btn {
  background-color: #ec6a66;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  width: 100%;
}

/* header styles */
.header {
  background-color: #000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0 1.5rem 11.2rem;
  height: 8.1rem;
}

.header__logo {
  height: 100%;
}

.header__logo img {
  height: 100%;
}

/* wrapper styles */
.wrapper {
  background-color: #2b9dd5;
}

/* intro styles */
.intro {
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 4rem 6rem 3.2rem;
}

.intro-data {
  flex-grow: 1;
  margin-right: 2.9rem;
}

.intro-data__title h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 13.4rem;
  margin-bottom: 1.1rem;
}

.intro-data__title h1 {
  font-size: 5.9rem;
}

.intro-data__video {
  background-color: #000;
  margin: 1.5rem 0;
  height: 67.7rem;
  width: 100%;
}

.intro-data__promo {
  width: 100%;
}

.intro-data__promo img {
  width: 100%;
}

.intro-forms {
  flex-shrink: 0;
  margin-top: 1.2rem;
  width: 61.7rem;
}

.intro-forms__title {
  background-color: #ec6a66;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.1rem), 29% calc(100% - 1.1rem), 27% 100%, 25% calc(100% - 1.1rem), 0 calc(100% - 1.1rem), 0 0);
  text-align: center;
  margin-bottom: 2.7rem;
  padding: 1.9rem 0 3rem;
}

.intro-forms__title h3 {
  font-size: 3.1rem;
  font-variant: small-caps;
  font-weight: 700;
}

.intro-forms__wrapper {
  background-color: #377f8a;
}

.intro-forms__switches {
  display: flex;
  flex-direction: row;
}

.intro-forms__switch {
  background-color: #2d6c76;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.1rem;
  height: 13.3rem;
  width: 50%;
}

.intro-forms__switch.active {
  background-color: #377f8a;
  margin-top: -2rem;
  height: 15.3rem;
}

.intro-forms__circle {
  background-color: rgba(125, 125, 125, .77);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.8rem;
  font-variant: small-caps;
  margin-right: 2rem;
  height: 5.4rem;
  width: 5.4rem;
}

.intro-forms__switch h4 {
  font-size: 1.8rem;
  font-variant: small-caps;
}

.intro-forms__switch h4 span {
  display: block;
  font-size: 2rem;
  font-variant: normal;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.intro-forms__form {
  display: none;
  padding: 3.1rem 2.6rem 0;
}

.intro-forms__form.show {
  display: flex;
  flex-direction: column;
}

.intro-forms__form input,
.intro-forms__form select {
  border: none;
  border-radius: 1.5rem;
  color: #606060;
  font-size: 2rem;
  margin-bottom: 2.4rem;
  padding: 2rem 2.6rem;
}

.intro-forms__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-forms__group input:first-child {
  width: calc(75% - 2.4rem);
}

.intro-forms__group input:last-child {
  width: 25%;
}

.intro-forms-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.4rem;
  padding-right: .6rem;
}

.intro-forms-line p {
  font-size: 2rem;
  margin-right: 2.2rem;
}

.intro-forms-line span {
  background-color: #fff;
  display: block;
  flex-grow: 1;
  height: 3px;
}

.intro .btn {
  border-radius: 2rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 2.5rem 2.7rem;
}

.intro .btn span {
  display: block;
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: .7rem;
}

.intro-forms__info {
  padding: 1.8rem 1rem 3.8rem;
}

.intro-forms__info p {
  font-size: 1rem;
}

/* about styles */
.about {
  color: #fff;
  background-color: #000;
  display: flex;
  padding: 0 7rem;
}

.about__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10rem;
}

.about__group:not(:last-child) {
  margin-bottom: 4rem;
}

.about__group h2 {
  font-family: 'Decalotype-Bold';
  font-size: 4.5rem;
  line-height: 5.207rem;
  font-weight: 700;
}

.about__group p {
  font-size: 1.6rem;
  line-height: 2.107rem;
}

.about__image {
  padding: 2rem 0;
  height: 100%;
}

.about__image img {
  height: 100%;
}

/* hurry styles */
.hurry {
  background-color: #eeeeee;
}

.hurry__title {
  color: #f74642;
  font-family: 'Decalotype-Bold';
  padding: 5rem 0 3.2rem;
  text-align: center;
}

.hurry__title h2 {
  font-size: 4.1rem;
  font-weight: 700;
}

.hurry__title p {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.072rem;
}

.hurry__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 10rem;
  max-width: 123.5rem;
}

.hurry__block {
  width: calc((100% - 6rem) / 3);
}

.hurry__image {
  width: 100%;
}

.hurry__image img {
  width: 100%;
}

.hurry__info {
  color: #0e0d0d;
  margin-top: 3.6rem;
  text-transform: uppercase;
}

.hurry__info p {
  font-size: 1.4rem;
  line-height: 2.505rem;
  text-align: justify;
}

.hurry__info h3 {
  color: #289cd5;
  font-size: 1.8rem;
  line-height: 3.006rem;
}

/* why styles */
.why {
  background-color: #f9fafc;
}

.why__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 2.9rem 0 6.5rem;
  width: 138.5rem;
}

.why__intro {
  flex-grow: 1;
  margin-right: 11.6rem;
}

.why__intro h2 {
  color: #333333;
  font-size: 3.1rem;
  line-height: 3.808rem;
  margin-bottom: 2rem;
  text-align: center;
}

.why__intro h2 span {
  color: #ed6966;
}

.why__intro-image {
  margin: 0 auto;
  position: relative;
  max-width: 24.3rem;
  z-index: 9;
}

.why__intro-image img {
  width: 100%;
}

.why__intro .btn {
  font-size: 3.3rem;
  line-height: 4.606rem;
  font-weight: 700;
  margin-top: -2rem;
  padding: 2.8rem 0;
  z-index: 0;
}

.why__intro .btn span {
  display: block;
  font-size: 4.2rem;
}

.why__info {
  background: url(../img/why-man.png) bottom right no-repeat, #276e92;
  color: #fdfafa;
  flex-shrink: 0;
  max-width: 45rem;
}

.why__info h3 {
  font-family: 'Decalotype-Bold';
  font-size: 3rem;
  letter-spacing: 0.135rem;
  line-height: 3.608rem;
  margin-bottom: 2.1rem;
  padding: 1.1rem 2.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.why__info h3 span {
  letter-spacing: -0.075rem;
}

.why__info p {
  font-size: 2.1rem;
  line-height: 2.504rem;
  padding: 0 2.5rem;
  text-transform: uppercase;
}

.why__signature {
  margin-top: 25rem;  
}

.why__signature h4 {
  background-color: #000000;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 3.006rem;
  padding: .9rem 1rem;
  text-transform: uppercase;
}

/* tips styles */
.tips {

}

.tips__wrapper {
  margin: 0 auto;
  max-width: 169.2rem;
}

.tips__top {
  display: flex;
  flex-direction: row;
}

.tips__data {
  background-color: #f9fafc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 5.7rem;
  padding: 1.9rem 10.3rem 9.8rem 7.5rem;
}

.tips__title h2 {
  color: #070707;
  font-family: 'Decalotype-Bold';
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.712rem;
  margin-bottom: 7.1rem;
  text-transform: uppercase;
}

.tips__title h2 span {
  color: #ed6966;
  font-size: 4.9rem;
}

.tips__paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.tips__paragraphs p {
  color: #000000;
  font-size: 3.6rem;
}

.tips__promo {
  flex-shrink: 0;
  width: 56.5rem;
}

.tips__promo img {
  width: 100%;
}

.tips__bottom {
  padding: 6.2rem 0 2.9rem;
}

.tips__bottom-note {
  color: #fef9f9;
  margin-bottom: 5.7rem;
  text-align: center;
}

.tips__bottom-note h3 {
  font-family: 'Decalotype-Bold';
  font-size: 5.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tips__bottom-note p {
  font-size: 3rem;
}

.tips__bottom-note p span {
  text-decoration: underline;
}

.tips .btn {
  font-size: 4.2rem;
  padding: 5rem 0;
}

/* next styles */
.next__wrapper {
  margin: 0 auto;
  max-width: 170rem;
}

.next__title {
  background-color: #38393a;
}

.next__title h2 {
  color: #fafbfb;
  font-family: 'Decalotype-Bold';
  font-size: 8rem;
  font-weight: 700;
  line-height: 6.5rem;
  padding: 4rem 0 4rem 3.5rem;
  text-transform: uppercase;
}

.next__description {
  background: url(../img/bg-image.png) top right no-repeat, #ebebeb;
  background-size: 100% 100%;
  color: #0c0d0d;
}

.next__top {
  display: flex;
  flex-direction: row;
}

.next__top-info {
  padding-top: 4.2rem;
}

.next__top-info p {
  font-size: 5rem;
  line-height: 5.612rem;
  margin-bottom: 4rem;
}

.next__top-info h3 {
  font-family: 'Decalotype-Bold';
  font-size: 6.9rem;
  font-weight: 700;
}

.next__top-book {
  flex-shrink: 0;
  max-width: 48rem;
}

.next__top-book img {
  width: 100%;
}

.next__bottom {
  padding-bottom: 2.7rem;
}

.next__paragraph {
  margin-bottom: 9.3rem;
}

.next__paragraph p {
  font-size: 5rem;
  line-height: 5.612rem;
}

.next__subtitle {
  margin-bottom: 3.5rem;
}

.next__subtitle h4 {
  font-size: 3.8rem;
  line-height: 3.608rem;
}

.next__list {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.6rem;
}

.next__list-image {
  margin-right: 2.8rem;
  max-height: 27.2rem;
}

.next__list-image img {
  height: 100%;
}

.next__list__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 142.4rem;
}

.next__list__items p {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 2.706rem;
}

.next .btn {
  font-size: 4.2rem;
  padding: 5.2rem 0;
}

/* time styles */
.time__wrapper {
  margin: 0 auto;
  max-width: 170rem;
}

.time__title {
  background-color: #38393a;
}

.time__title h2 {
  color: #fafbfb;
  font-family: 'Decalotype-Bold';
  font-size: 8rem;
  font-weight: 700;
  line-height: 6.5rem;
  padding: 4rem 0 4rem 3.5rem;
  text-transform: uppercase;
}

.time__description {
  background: url(../img/bg-image.png) top right no-repeat, #ebebeb;
  background-size: 100% 100%;
  color: #0c0d0d;
}

.time__description p {
  font-size: 4.3rem;
  line-height: 4.81rem;
}

.time__description p:first-of-type {
  margin-bottom: 5.5rem;
  padding-top: 3rem;
}

.time__description h2 {
  font-family: 'Decalotype-Bold';
  font-size: 6.1rem;
  line-height: 5.612rem;
}

.time__description h3 {
  color: #ce3a36;
  font-size: 5rem;
  line-height: 5.612rem;
  margin: 1.5rem 0;
}

.time__description h4 {
  font-size: 3.6rem;
  line-height: 5.008rem;
  margin-bottom: 4rem;
}

.time__description h5 {
  font-size: 3.4rem;
  line-height: 3.506rem;
}

.time__description h6 {
  font-size: 4.1rem;
  line-height: 5.612rem;
  margin-bottom: 4.1rem;
}

.time__description .btn {
  font-size: 4.2rem;
  margin-bottom: 15.1rem;
  padding: 5.2rem 0;
}

/* footer styles */
.footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 4rem 23rem 5rem;
}

.footer__data {
  margin-right: 40rem;
}

.footer__logo {
  margin-bottom: 3.9rem;
  max-width: 32.2rem;
}

.footer__logo img {
  width: 100%;
}

.footer__address {
  margin-bottom: 4.3rem;
}

.footer__address h3 {
  font-size: 2.9rem;
}

.footer__address h3:first-child {
  margin-bottom: 4.5rem;
}

.footer__soc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__soc a {
  display: block;
  max-width: 10.7rem;
}

.footer__soc a img {
  width: 100%;
}

.footer__slogan {
  position: relative;
}

.footer__slogan h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 8.6rem;
  line-height: 8.207rem;
}

.footer__bg-image {
  position: absolute;
  top: -18rem;
  right: -25rem;
  max-width: 40rem;
}

.footer__bg-image img {
  width: 100%;
}






















/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}