/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-ExtraBold';
  src: url('../fonts/Decalotype-ExtraBold.eot');
  src: url('../fonts/Decalotype-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-ExtraBold.woff') format('woff'),
  url('../fonts/Decalotype-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}

a {
  color: #000000;
  text-decoration: none;
}

/* container styles */
.container {
  margin: 0 auto;
  height: 100%;
  max-width: 130rem;
}

/* header styles */
.header {
  background: url(../img/bg-image.png) top right no-repeat, #369dd7;
  background-size: 100% 100%;
  padding-bottom: 17.3rem;
}

.header__button {
  background-color: #f16763;
  font-size: 2.1rem;
  padding: 1.5rem 6rem;
  text-transform: uppercase;
}

.header__button.shadow {
  box-shadow: 0.1rem 0.4rem 1.3rem rgba(127, 127, 127, 0.77);
}

/* navbar styles */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.navbar a {
  display: inline-block;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3rem;
}

.navbar__menu a:not(:last-child) {
  margin-right: 4.5rem;
}

/* intro styles */
.intro__titles {
  color: #ffffff;
  padding-top: 2rem;
}

.intro__titles h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 5.4rem;
  margin-bottom: 3rem;
}

.intro__titles h1 {
  font-size: 2.9rem;
}

.intro__image {
  margin: 2rem 0;
  max-width: 90rem;
}

.intro__image img {
  width: 100%;
}

.intro__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.intro__note {
  border-top: 3px solid #fff;
  padding: 1rem 0;
  max-width: 55rem;
  width: 55rem;
}

.intro__note p {
  color: #ffffff;
  font-size: 1.9rem;
}

/* wrapper styles */
.wrapper {
  background-color: #369dd7;
}

/* promo styles */
.promo {
  background-color: #ffffff;
  box-shadow: 0 0 1.7rem rgba(0, 0, 0, 0.05);
}

.promo .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo__block {
  background-color: #ffffff;
  box-shadow: 0 0 2.3rem rgba(0, 0, 0, 0.11);
  text-align: center;
  transform: scaleY(1.1);
  width: calc((100% - 16rem) / 3);
}

.promo__image {
  margin: 2.5rem auto 2rem;
  height: 8.5rem;
}

.promo__image img {
  height: 100%;
}

.promo__title h2 {
  font-family: 'Decalotype-Bold';
  font-size: 2.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.039rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.promo__info {
  list-style: square;
  padding: 0 3rem 5rem 4rem;
  text-align: left;
}

.promo__info li {
  font-size: 1.7rem;
  letter-spacing: -0.045rem;
}

/* from styles */
.from__title {
  margin-top: 6rem;
}

.from__title h2 {
  color: #fff;
  font-family: 'Decalotype-Bold';
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
  text-transform: uppercase;
}

.from__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0 9rem;
}

.from__element {
  height: 12rem;
}

.from__element img {
  height: 100%;
}

/* steps styles */
.steps {
  background-color: #fff;
}

.steps .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem 0 10rem;
}

.steps__left {
  padding-right: 3rem;
  width: 50%;
}

.steps__right {
  padding-left: 3rem;
  width: 50%;
}

.steps__block {
  display: flex;
  flex-direction: row;
  margin-bottom: 9rem;
  width: 100%;
}

.steps__block h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 5.5rem;
  text-transform: uppercase;
}

.steps__image {
  flex-shrink: 0;
  max-width: 22rem;
}

.steps__image img {
  width: 100%;
}

.steps__info {
  margin-left: 1rem;
}

.steps__info h3 {
  font-family: 'Decalotype-Bold';
  font-size: 3.8rem;
  text-transform: uppercase;
}

.steps__info p {
  font-size: 1.7rem;
}

/* who styles */
.who {
  background: linear-gradient(to right, #fff, #fff 50%, #369dd7 50%, #369dd7 100%);
  box-shadow: 0 0 2.3rem rgba(0, 0, 0, 0.13);
}

.who .container {
  display: flex;
  flex-direction: row;
}

.who__title {
  background-color: #fff;
  text-align: center;
  padding: 2rem 3.5rem 4rem;
}

.who__title h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 8.4rem;
  text-transform: uppercase;
}

.who__title h2 span:nth-of-type(1) {
  font-size: 16.4rem;
  line-height: 16.4rem;
}

.who__title h2 span:nth-of-type(2) {
  font-size: 10.3rem;
  line-height: 9rem;
}

.who__title h2 span:nth-of-type(3) {
  font-size: 15.6rem;
  letter-spacing: 0.1rem;
  line-height: 13.1rem;
}

.who__title h2 span:nth-of-type(4) {
  letter-spacing: -0.3rem;
  line-height: 7.5rem;
}

.who__data {
  background-color: #369dd7;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.6rem 6rem 0;
}

.who__element {
  width: calc(100% / 3 - 2rem);
}

.who__square {
  background-color: #fff;
  display: block;
  margin-left: auto;
  height: 4.6rem;
  width: 5.1rem;
}

.who__info h3 {
  font-family: 'Decalotype-Bold';
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.who__info p {
  font-size: 2.1rem;
}

/* why styles */
.why .container {
  display: flex;
  flex-direction: row;
}

.why__info {
  background-color: #fff;
  flex-shrink: 0;
  padding: 8.4rem 6.5rem 27.5rem 10rem;
  max-width: 64.4rem;
}

.why__info h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 5.5rem;
  line-height: 5.6rem;
  margin-bottom: 4.5rem;
  text-transform: uppercase;
}

.why__info p {
  font-size: 2.3rem;
}

.why__bg {
  background: url(../img/why-bg-img.png) center no-repeat;
  background-size: cover;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.why__bg::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(54, 157, 215, .5);
}

/* authors styles */
.authors {
  background-color: #fff;
}

.authors .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10rem 0;
}

.authors__element {
  width: calc(100% / 2 - 2.5rem);
}

.authors__description {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.authors__avatar {
  flex-shrink: 0;
  margin-right: 4rem;
  width: 25rem;
}

.authors__avatar img {
  width: 100%;
}

.authors__data h2 {
  font-family: 'Decalotype-Bold';
  font-size: 3.8rem;
  margin-bottom: 2.6rem;
  text-transform: uppercase;
}

.authors__data h3 {
  color: #369dd7;
  font-size: 2.3rem;
}

.authors__info p {
  font-size: 2.3rem;
}

/* more styles */
.more {
  background: url(../img/more-bg-img.png) center no-repeat, #dee0ec;
  background-size: contain;
  position: relative;
}

.more::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
}

.more .container {
  color: #fff;
  padding: 6rem 0 3.6rem;
  position: relative;
  z-index: 9;
}

.more__title h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 4.9rem;
  margin-bottom: 4.6rem;
  text-transform: uppercase;
}

.more__info {
  margin-bottom: 6.4rem;
  max-width: 57rem;
}

.more__info p {
  font-size: 2.4rem;
}

.more__info p:not(:last-child) {
  margin-bottom: 3.5rem;
}

.more__btn a {
  background-color: #f16763;
  box-shadow: 0 0 5.5rem rgba(0, 0, 0, 0.16);
  color: #fff;
  display: inline-block;
  font-size: 3.2rem;
  letter-spacing: -0.018rem;
  padding: 3rem 4rem;
}

/* contact styles */
.contact {
  background: url(../img/bg-image.png) top right no-repeat;
  background-size: cover;
  margin-top: 4rem;
}

.contact__title h2 {
  color: #369dd7;
  font-family: 'Decalotype-ExtraBold';
  font-size: 6.2rem;
  padding-top: 4rem;
  text-transform: uppercase;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0 8rem;
}

.contact__form input,
.contact__form textarea {
  border: none;
  color: #706f6f;
  font-size: 1.7rem;
  letter-spacing: -0.018rem;
  padding: 2rem 1rem;
}

.contact__form textarea {
  box-shadow: 0 0 3.1rem rgba(0, 0, 0, 0.11);
  margin-bottom: 4.5rem;
  min-height: 24rem;
  width: 100%;
}

.contact__form-group {
  margin-bottom: 3.5rem;
  width: 100%;
}

.contact__form-group input {
  width: 35%;
}

.contact__form-group input:first-child {
  margin-right: 4rem;
}

.contact__form input[type=submit] {
  background-color: #f16763;
  box-shadow: 0 0 6.3rem rgba(54, 157, 215, 0.45);
  color: #ffffff;
  display: inline-block;
  font-size: 3.2rem;
  letter-spacing: -0.018rem;
  padding: 3.5rem 10rem;
}

/* footer styles */
.footer {
  background-color: #ffffff;
  padding: 4rem 0 5rem;
}

.footer .container {
  display: flex;
  flex-direction: row;
}

.footer__data {
  margin-right: 30rem;
}

.footer__logo {
  margin-bottom: 3.5rem;
  max-width: 30rem;
}

.footer__logo img {
  width: 100%;
}

.footer__address {
  margin-bottom: 4rem;
}

.footer__address h3 {
  font-size: 2.5rem;
}

.footer__address h3:first-child {
  margin-bottom: 4rem;
}

.footer__soc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__soc a {
  display: block;
  max-width: 8rem;
}

.footer__soc a img {
  width: 100%;
}

.footer__slogan {
  position: relative;
}

.footer__slogan h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 7rem;
  line-height: 8rem;
}

.footer__bg-image {
  position: absolute;
  top: -14rem;
  right: -15rem;
  max-width: 30rem;
}

.footer__bg-image img {
  width: 100%;
}



/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 4px;
  }

  /* container styles*/
  .container {
    padding: 0 2rem;
  }

  /* footer styles */
  .footer .container {
    justify-content: space-between;
  }

  .footer__data {
    margin-right: 15rem;
  }

  .footer__bg-image {
    position: absolute;
    top: 0rem;
    right: 0rem;
    max-width: 15rem;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  /* footer styles */
  .footer__bg-image {
    position: absolute;
    top: 0rem;
    right: 0rem;
    max-width: 15rem;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4px;
  }

  /* header styles */
  .header {
    background: #369dd7;
    padding-bottom: 2rem;
  }

  .header .container {
    padding: 0;
  }

  /* navbar styles */
  .navbar {
    background-color: #fff;
    flex-direction: column;
  }

  .navbar__logo {
    margin-bottom: 2rem;
  }

  .navbar__logo a {
    font-size: 3rem;
    font-weight: bold;
  }

  .navbar__links {
    flex-direction: column;
  }

  .navbar__menu {
    margin-bottom: 2rem;
  }

  /* intro styles */
  .intro {
    padding: 0 2rem;
  }

  .intro__bottom {
    flex-direction: column;
  }

  /* promo styles */
  .promo .container {
    flex-direction: column;
    padding: 2rem;
  }

  .promo__block {
    margin-bottom: 2rem;
    transform: scaleY(1);
    width: 100%;
  }

  /* from styles */
  .from__title h2 {
    font-size: 4rem;
  }

  .from__elements {
    flex-wrap: wrap;
    padding: 4rem 2rem;
  }

  .from__element {
    margin-bottom: 4rem;
    height: 16rem;
  }

  /* steps styles */
  .steps .container {
    flex-direction: column;
    padding: 0 2rem;
  }

  .steps__left {
    padding-right: 0rem;
    width: 100%;
  }

  .steps__right {
    padding-left: 0rem;
    width: 100%;
  }

  .steps__block {
    margin-bottom: 3rem;
  }

  .steps__info p {
    font-size: 2.2rem;
  }

  /* who styles */
  .who {
    background: none;
  }

  .who .container {
    flex-direction: column;
    padding: 0;
  }

  .who__title h2 {
    font-size: 7.4rem;
  }

  .who__title h2 span:nth-of-type(1) {
    font-size: 15.4rem;
    line-height: 15.4rem;
  }

  .who__title h2 span:nth-of-type(2) {
    font-size: 9.3rem;
    line-height: 8rem;
  }

  .who__title h2 span:nth-of-type(3) {
    font-size: 14.6rem;
    line-height: 12.1rem;
  }

  .who__title h2 span:nth-of-type(4) {
    line-height: 6.5rem;
  }

  .who__data {
    padding: 2.6rem 2rem;
  }

  /* why styles */
  .why .container {
    padding: 0;
  }

  .why__info {
    box-shadow: 0 0 2.3rem rgba(0, 0, 0, 0.13);
    padding: 8.4rem 2rem 5rem 2rem;
    max-width: 100%;
  }

  .why__bg {
    display: none;
  }

  /* authors styles */
  .authors .container {
    flex-direction: column;
    padding: 5rem 2rem 2rem;
  }

  .authors__element {
    margin-bottom: 5rem;
    width: 100%;
  }

  .authors__description {
    margin-bottom: 2rem;
  }

  /* more styles */
  .more {
    background-position: bottom center;
  }
  .more .container {
    padding: 2rem 2rem 1rem;
  }

  .more__info {
    max-width: 45rem;
  }

  /* contact styles */
  .contact__title h2 {
    padding-top: .5rem;
  }

  .contact__form-group input {
    width: calc((100% - 4.5rem) / 2);
  }

  /* footer styles */
  .footer__data {
    margin-right: 0;
  }

  .footer__slogan h2 {
    font-size: 6rem;
  }

  .footer__bg-image {
    position: absolute;
    top: 0rem;
    right: 0rem;
    max-width: 15rem;
  }
}