/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Black';
  src: url('../fonts/Decalotype-Black.eot');
  src: url('../fonts/Decalotype-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Black.woff') format('woff'),
  url('../fonts/Decalotype-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 130rem;
}

/* parallax styles */
#home-page .parallax {
  -webkit-perspective: 2px;
          perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* header styles */
#home-page .header {
  position: relative;
  height: 100%;
  z-index: 999;
}

#home-page .header::after {
  content: "";
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(-1px) scale(1.5);
          transform: translateZ(-1px) scale(1.5);
  z-index: -1;
}

/* navbar styles */
#home-page .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
  height: 12rem;
  width: 100%;
  z-index: 999;
}

#home-page .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-grow: 1;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
}

#home-page .navbar.fixed {
  background-color: #fff;
  -webkit-box-shadow: 0 .5rem 1rem #ccc;
          box-shadow: 0 .5rem 1rem #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#home-page .navbar.fixed .navbar__menu {
  display: none;
}

#home-page .navbar.fixed .navbar__logo img:first-child {
  display: none;
}

#home-page .navbar.fixed .navbar__logo img:last-child {
  display: block;
}

#home-page .navbar__logo {
  height: 7rem;
}

#home-page .navbar__logo img:first-child {
  display: block;
}

#home-page .navbar__logo img:last-child {
  display: none;
}

#home-page .navbar__logo img {
  height: 100%;
}

#home-page .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
}

#home-page .navbar__menu li{
  margin: 0 2.5rem;
}

#home-page .navbar__menu li a {
  color: #ffffff;
  font-family: 'Decalotype-Bold';
  font-size: 2.5rem;
  text-decoration: none;
  padding: .5rem 0;
}

#home-page .navbar__menu li a:hover {
  border-bottom: 2px solid #f47571;
}

#home-page .navbar__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
  height: 3rem;
  width: 4.5rem;
  z-index: 999;
}

#home-page .navbar__toggler span {
  border-radius: 1rem;
  display: block;
  height: .5rem;
  width: 100%;
}

#home-page .navbar__toggler span:nth-child(odd) {
  background: #fff;
}

#home-page .navbar.fixed .navbar__toggler span:nth-child(odd) {
  background: #000;
}

#home-page .navbar__toggler.close span:nth-child(odd) {
  background: transparent;
}

#home-page .navbar__toggler.close span:nth-child(even) {
  background: #000;
}

#home-page .navbar.fixed .navbar__toggler.close span:nth-child(odd) {
  background: transparent;
}

#home-page .navbar.fixed .navbar__toggler.close span:nth-child(even) {
  background: #000;
}

#home-page .navbar__toggler.close span:nth-child(2) {
  -webkit-transform: rotate(45deg) translateX(20%);
      -ms-transform: rotate(45deg) translateX(20%);
          transform: rotate(45deg) translateX(20%);
}

#home-page .navbar__toggler.close span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translateX(20%);
      -ms-transform: rotate(-45deg) translateX(20%);
          transform: rotate(-45deg) translateX(20%);
}

#home-page .navbar__hamburger-menu {
  background-color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
}

#home-page .navbar__hamburger-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-page .navbar__hamburger-menu li:not(:last-child) {
  margin-bottom: 3rem;
}

#home-page .navbar__hamburger-menu a {
  color: #222;
  display: block;
  font-family: 'Decalotype-Bold';
  font-size: 5rem;
  text-decoration: none;
}

#home-page .navbar__hamburger-menu a:hover {
  color: #3593c5;
}

#home-page .navbar__hamburger-menu li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-page .navbar__hamburger-menu li:last-child a {
  margin: 0 2rem;
  height: 5rem;
  width: 5rem;
}

#home-page .navbar__hamburger-menu li:last-child a:hover {
  -webkit-box-shadow: 0 0 1rem #000;
          box-shadow: 0 0 1rem #000;
  border-radius: 50%;
}

#home-page .navbar__hamburger-menu li:last-child a img {
  width: 100%;
}

/* intro styles */
#home-page .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  padding-top: 32rem;  
  padding-right: 7rem;
  position: relative;
  height: calc(100vh - 12rem);
  max-width: 62rem;
  z-index: 0;
}

#home-page .intro__title {
  width: 100%;
}

#home-page .intro__title h1 {
  color: #fff;
  font-family: 'Decalotype-Bold';
  font-size: 6.2rem;
  margin-bottom: 3rem;
  position: relative;
  text-align: right;
}

#home-page .intro__title h1:before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: -2rem;
  left: 0;
  height: 2px;
  width: 50%;
}

#home-page .intro__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#home-page .intro__subtitle h2 {
  color: #fff;
  font-size: 2.1rem;
  text-transform: uppercase;
}

#home-page .intro__subtitle a {
  background-color: #f47571;
  color: #fff;
  font-family: 'Decalotype-Black';
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

#home-page .intro__subtitle a:hover {
  background-color: #333;
}

/* content styles */
#home-page .content {
  background-color: #fff;
}

/* build */
#home-page .build {
  padding: 9rem 0 20rem;
  text-align: center;
}

#home-page .build__title {
  margin-bottom: 9rem;
}

#home-page .build__title h2 {
  color: #3593c5;
  font-family: 'Decalotype-Black';
  font-size: 5rem;
  margin-bottom: 2.5rem;
}

#home-page .build__title h3 {
  color: #9d9e9e;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

#home-page .build__items {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

#home-page .build__items.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-page .build__item {
  border: 1px solid #f16864;
  border-radius: 1rem;
  opacity: 0;
  width: 25%;
  z-index: 3;
}

#home-page .build__item.show {
  opacity: 1;
}

#home-page .build__item.pos1,
#home-page .build__item.pos2,
#home-page .build__item.pos3 {
  position: relative;
}

#home-page .build__item.pos2 {
  margin: 0 6rem;
}

#home-page .build__item.pos1,
#home-page .build__item.pos3 {
  top: 14rem;
}

#home-page .build__item.pos1::before,
#home-page .build__item.pos2::before,
#home-page .build__item.pos3::before {
  content: "";
  position: absolute;
  bottom: -3.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
#home-page .build__item.pos1::before {
  background: url(../img/small-arrow.png) top center no-repeat;
  background-size: 100% 100%;
  right: 1rem;  
}

#home-page .build__item.pos2::before {
  background: url(../img/small-arrow-3.png) top center no-repeat;
  background-size: 100% 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#home-page .build__item.pos3::before {
  background: url(../img/small-arrow-2.png) top center no-repeat;
  background-size: 100% 100%;
  left: 1rem;
}

#home-page .build__item-title {
  text-align: center;
}

#home-page .build__item-title h4 {
  background-color: #f16864;
  border-radius: 1rem 1rem 0 0;
  color: #fcfcfc;
  font-family: 'Decalotype-Bold';
  font-size: 3rem;
  letter-spacing: 0.24rem;
  padding: 1.5rem 0;
}

#home-page .build__data h5 {
  border-bottom: 1px solid #f16864;
  color: #2d2d2d;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  letter-spacing: 0.14rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
}

#home-page .build__data p {
  color: #2d2d2d;
  font-size: 2rem;
  letter-spacing: 0.14rem;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

#home-page .build__data a {
  background-color: #e1e1e1;
  color: #2d2d2d;
  display: inline-block;
  font-size: 1.7rem;
  letter-spacing: 0.14rem;
  margin: 0 1.5rem 2rem;
  padding: .7rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

#home-page .build__gif {
  margin: 5rem auto 0;
  max-width: 50rem;
  position: relative;
}

#home-page .build__gif img {
  width: 100%;
}

#home-page #b__i-a1,
#home-page #b__i-a2,
#home-page #b__i-a3 {
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  height: 9rem;
  width: 9rem;
  z-index: 2;
}

#home-page #b__i-a2 {
  left: 0rem;
  top: 11.5rem;
}

#home-page #b__i-a1 {
  top: 0rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#home-page #b__i-a3 {
  right: 0rem;
  top: 11.5rem;
}

/* partners styles */
#home-page .partners {
  background-color: #3593c5;
  padding: 6rem;
  width: 100%;
}

#home-page .partners__slider {
  overflow: hidden;
  width: 100%;
}

#home-page .partners__slider .swiper-slide img {
  width: 100%;
}

/* what styles*/
#home-page .what {
  background: url(../img/what.jpg) center no-repeat;
  background-size: 100% 100%;
  height: 100rem;
}

#home-page .what .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100rem;
}

#home-page .what__title {
  text-align: center;
  margin-bottom: 6rem;
}

#home-page .what__title h2 {
  color: #3593c5;
  font-family: 'Decalotype-Black';
  font-size: 6rem;
  position: relative;
}

#home-page .what__title h2:before {
  content: "";
  background-color: #3593c5;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 10%;
}

#home-page .what__slider {
  overflow: hidden;
  position: relative;
  text-align: center;  
}

#home-page .what__slider .swiper-wrapper {
  margin-bottom: 10rem;
}

#home-page .what__slider h3 {
  color: #f16864;
  font-size: 2.3rem;
  line-height: 3.4rem;
  margin-bottom: 5rem;
}

#home-page .what__slider h4 {
  color: #f16864;
  font-family: 'Decalotype-Black';
  font-size: 2.5rem;
}

#home-page .what .swiper-button-prev,
#home-page .what .swiper-button-next {
  background-size: 40%;
  border: 2px solid #5b9bd3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: auto;
  bottom: 0;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
}

#home-page .what .swiper-button-prev {
  left: 45%;
}

#home-page .what .swiper-button-next {
  right: 45%;
}

/* footer styles */
#home-page .footer {
  background-color: #3c84bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7rem;
  height: 14rem;
}

#home-page .footer__terms,
#home-page .footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16rem;
}

#home-page .footer__terms a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#home-page .footer__terms a img {
  margin-bottom: 2rem;
  width: 5rem;
}

#home-page .footer__logo {
  width: 10rem;
}

#home-page .footer__logo img {
  width: 100%;
}

#home-page .footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-page .footer__soc a {
  display: block;
  width: 5rem;
}

#home-page .footer__soc a:last-child {
  margin-left: 5rem;
}

#home-page .footer__soc a img {
  width: 100%;
}
/*------------------*/
/*---pages styles---*/
/*------------------*/
/* legal and privacy styles*/
#home-page .privacy,
#home-page .legal {
  color: #171717;
  padding: 3rem 0 2rem;
}

#home-page .privacy__logo,
#home-page .legal__logo {
  margin-bottom: 3rem;
  width: 32rem;
}

#home-page .privacy__logo img,
#home-page .legal__logo img {
  width: 100%;
}

#home-page .privacy h1,
#home-page .legal h1 {
  font-family: 'Decalotype-Black';
  font-size: 5rem;
  position: relative;
  margin-bottom: 6rem;
}

#home-page .privacy h1::before,
#home-page .legal h1::before {
  content: "";
  background-color: #3593c5;
  position: absolute;
  left: 0;
  bottom: -3rem;
  height: 3px;
  width: 10%;
}

#home-page .privacy h2,
#home-page .legal h2 {
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  margin-bottom: .5rem;
}

#home-page .privacy p,
#home-page .legal p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

#home-page .privacy ul,
#home-page .legal ul {
  list-style: disc;
  padding-left: 4rem;
  margin-bottom: 3rem;
}

#home-page .privacy ul li,
#home-page .legal ul li {
  font-size: 1.8rem;
}





/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }

  /* intro styles */
  #home-page .intro {
    max-width: 75rem;
  }

  #home-page .intro__title h1 {
    font-size: 7.75rem;
  }

  #home-page .intro__subtitle h2 {
    font-size: 2.5rem;
  }

  #home-page .intro__subtitle a {
    font-size: 1.8rem;
  }

  /* build styles */
  #home-page .build__title h2 {
    font-size: 6rem;
  }

  #home-page .build__title h3 {
    font-size: 2.5rem;
  }

  /* what styles */
  #home-page .what__slider h3 {
    font-size: 2.5rem;
  }

  #home-page .what__slider h4 {
    font-size: 2.7rem;
  }

  /* legal and privacy styles */
  #home-page .privacy h2,
  #home-page .legal h2,
  #home-page .privacy p,
  #home-page .legal p,
  #home-page .privacy ul li,
  #home-page .legal ul li {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }

  /* intro styles */
  #home-page .intro {
    max-width: 98rem;
  }

  #home-page .navbar__menu li a {
    font-size: 3rem;
  }

  #home-page .intro__title h1 {
    font-size: 10.3rem;
  }

  #home-page .intro__subtitle h2 {
    font-size: 3rem;
  }

  #home-page .intro__subtitle a {
    font-size: 2.3rem;
  }

  /* build styles */
  #home-page .build__title h2 {
    font-size: 8rem;
  }

  #home-page .build__title h3 {
    font-size: 3rem;
  }

  /* what styles */
  #home-page .what .container {
    max-width: 120rem;
  }

  #home-page .what__title h2 {
    font-size: 7rem;
  }

  #home-page .what__slider h3 {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  #home-page .what__slider h4 {
    font-size: 3.2rem;
  }

  /* legal and privacy styles */
  #home-page .privacy h2,
  #home-page .legal h2,
  #home-page .privacy p,
  #home-page .legal p,
  #home-page .privacy ul li,
  #home-page .legal ul li {
    font-size: 3rem;
    line-height: 4rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }

  /* header styles */
  #home-page .header::after {
    background-position: left -25rem center;
  }

  /* navbar styles */
  #home-page .navbar__menu {
    justify-content: center;
  }

  #home-page .navbar__menu li a {
    font-size: 3rem;
  }

  /* intro styles */
  #home-page .intro {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto 0;
    padding-top: 40rem;
    max-width: 98rem;
  }

  #home-page .intro__title h1 {
    font-size: 10.2rem;
    margin-bottom: 6rem;
    text-align: center;
  }

  #home-page .intro__title h1:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  #home-page .intro__subtitle h2 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }

  #home-page .intro__subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #home-page .intro__subtitle a {
    font-size: 3rem;
  }

  /* build styles */
  #home-page .build__title h2 {
    font-size: 8rem;
  }

  #home-page .build__title h3 {
    font-size: 3rem;
  }

  /* what styles */
  #home-page .what .container {
    max-width: 120rem;
  }

  #home-page .what__title h2 {
    font-size: 7rem;
  }

  #home-page .what__slider h3 {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  #home-page .what__slider h4 {
    font-size: 3.2rem;
  }

  /* legal and privacy styles */
  #home-page .privacy h2,
  #home-page .legal h2,
  #home-page .privacy p,
  #home-page .legal p,
  #home-page .privacy ul li,
  #home-page .legal ul li {
    font-size: 3rem;
    line-height: 4rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  /* container styles */
  .container {
    padding: 0 2rem;
    max-width: 100%;
  }

  /* navbar styles */
  #home-page .navbar__menu {
    justify-content: center;
  }

  #home-page .navbar__menu li a {
    font-size: 4rem;
  }

  /* intro styles */
  #home-page .intro {
    margin: 0 auto;
    padding: 40rem 0;
    max-width: 60%;
  }

  #home-page .intro__title h1 {
    font-size: 9rem;
    line-height: 12rem;
    text-align: center;
  }

  #home-page .intro__title h1:before {
    width: 100%;
  }

  #home-page .intro__subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
  }

  #home-page .intro__subtitle h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  #home-page .intro__subtitle a {
    font-size: 3rem;
  }

  /* build styles */
  #home-page .build__title h2 {
    font-size: 10rem;
  }

  #home-page .build__title h3 {
    font-size: 4rem;
  }

  /* what styles */
  #home-page .what .container {
    width: 70%;
  }

  /* legal and privacy styles */
  #home-page .privacy h2,
  #home-page .legal h2,
  #home-page .privacy p,
  #home-page .legal p,
  #home-page .privacy ul li,
  #home-page .legal ul li {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 5px;
  }

  /* intro styles */
  #home-page .intro {
    max-width: 70%;
  }

  /* what styles */
  #home-page .what__slider h3 {
    font-size: 3rem;
    line-height: 4rem;
  }

  #home-page .what__slider h4 {
    font-size: 3rem;
  }

  #home-page .what .swiper-button-prev,
  #home-page .what .swiper-button-next {
    height: 6rem;
    width: 6rem;
  }

  #home-page .what .swiper-button-prev {
    left: 40%;
  }

  #home-page .what .swiper-button-next {
    right: 40%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 4px;
  }

  /* navbar styles */
  #home-page .navbar,
  #home-page .navbar .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 16rem;
  }

  #home-page .navbar__logo,
  #home-page .navbar__hamburger {
    width: 50%;
  }

  #home-page .navbar__menu {
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  #home-page .navbar__toggler {
    margin-left: auto;
  }

  /* intro styles */
  #home-page .intro {
    margin: 0 auto;
    height: calc(100vh - 16rem);
    max-width: 70%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  /* intro styles */
  #home-page .intro {
    margin: 0 auto;
    height: calc(100vh - 16rem);
    max-width: 90%;
  }

  /* build styles */
  #home-page .build__item.pos1,
  #home-page .build__item.pos3 {
    top: 7rem;
  }
  #home-page .build__item.pos2 {
    margin: 0px 3rem;
  }

  #home-page .build__item {
    width: 30%;
  }

  #home-page .build__gif {
    margin: 8rem auto 0;
    width: 35rem;
  }

  #home-page #b__i-a1 {
    
  }

  #home-page #b__i-a2 {
    left: -1rem;
    top: 7.5rem;
  }

  #home-page #b__i-a3 {
    right: -1rem;
    top: 7.5rem;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4px;
  }

  /* navbar styles */
  #home-page .navbar {
    padding: 0 2rem;
  }

  /* intro styles */
  #home-page .intro {
    margin: 0 auto;
    height: calc(100vh - 16rem);
    max-width: 90%;
  }

  /* build styles */
  #home-page .build__item.pos2 {
    margin: 0px 3rem;
  }

  #home-page .build__item {
    width: 30%;
  }

  #home-page .build__item-title h4 {
    font-size: 2.6rem;
  }

  #home-page .build__gif {
    margin: 8rem auto 0;
    width: 35rem;
  }

  /* what styles */
  #home-page .what {
    background-size: 120% 120%;
  }

  #home-page .what .container {
    width: 90%;
  }

  #home-page .what__title h2 {
    margin-top: 5rem;
  }

  #home-page .what__slider h3 {
    margin-bottom: 1rem;
  }

  #home-page .what__slider h4 {
    font-size: 3rem;
  }
}