/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Light';
  src: url('../fonts/Decalotype-Light.eot');
  src: url('../fonts/Decalotype-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Light.woff') format('woff'),
  url('../fonts/Decalotype-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}

#ebc-login .container {
  margin: 0 auto;
  height: 100%;
  max-width: 130rem;
}

/* login styles */
#ebc-login .login {
  background-color: #37a7dd;
  height: 100vh;
}

#ebc-login .login .container {
  background: url(../img/logo.png) center left no-repeat;
  background-size: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#ebc-login .login__data {
  margin-right: 20rem;
}

#ebc-login .login__title {
  margin-bottom: 6rem;
}

#ebc-login .login__title h1 {
  color: #fff;
  font-family: 'Decalotype-Bold';
  font-size: 6rem;
  line-height: 5rem;
}

#ebc-login .login__title h1 sup {
  font-size: 1.5rem;
  text-transform: uppercase;
  vertical-align: text-top;
}

#ebc-login .login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ebc-login .login__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.5rem;
}

#ebc-login .login__group-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Decalotype-Light';
  margin-bottom: 1rem;
}

#ebc-login .login__group-title span {
  color: #ffffff;
  font-size: 2rem;
}

#ebc-login .login__group-title a {
  color: #14537e;
  font-size: 1.8rem;
  text-decoration: none;
}

#ebc-login .login__group input {
  background-color: #ffffff;
  border: 0.1rem solid #11507b;
  font-size: 2.5rem;
  padding: 1rem 2rem;
}

#ebc-login .login__group-check {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}

#ebc-login .login__submit {
  background-color: #f47571;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 2rem;
  margin-left: auto;
  padding: 2rem 0;
  text-transform: uppercase;
  width: 17rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  /* container styles */
  #ebc-login .login .container {
    background-position: top 10rem center;
    background-size: 30%;
    padding: 0 5rem;
    max-width: 100%;
  }
  
  /* login styles */
  #ebc-login .login__data {
    margin: 25rem auto 0;
    width: 50%;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  /* container styles */
  #ebc-login .login .container {
    background-position: top 10rem center;
    background-size: 40%;
    padding: 0 5rem;
    max-width: 100%;
  }
  
  /* login styles */
  #ebc-login .login__data {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4px;
  }  
}