/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Light';
  src: url('../fonts/Decalotype-Light.eot');
  src: url('../fonts/Decalotype-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Light.woff') format('woff'),
  url('../fonts/Decalotype-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Black';
  src: url('../fonts/Decalotype-Black.eot');
  src: url('../fonts/Decalotype-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Black.woff') format('woff'),
  url('../fonts/Decalotype-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 130rem;
}

/* header styles */
#contact-us .header {
  background-color: #fff;
}

/* navbar styles */
#contact-us .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7rem;
  height: 12rem;
}

#contact-us .navbar.fixed {
  background-color: #fff;
  -webkit-box-shadow: 0 .5rem 1rem #ccc;
          box-shadow: 0 .5rem 1rem #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#contact-us .navbar.fixed .navbar__menu {
  display: none;
}

#contact-us .navbar__logo {
  height: 7rem;
  z-index: 999;
}

#contact-us .navbar__logo img {
  height: 100%;
}

#contact-us .navbar__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
  height: 3rem;
  width: 4rem;
  z-index: 999;
}

#contact-us .navbar__toggler span {
  border-radius: 1rem;
  display: block;
  height: .5rem;
  width: 100%;
}

#contact-us .navbar__toggler span:nth-child(odd) {
  background: #000;
}

#contact-us .navbar.fixed .navbar__toggler span:nth-child(odd) {
  background: #000;
}

#contact-us .navbar__toggler.close span:nth-child(odd) {
  background: transparent;
}

#contact-us .navbar__toggler.close span:nth-child(even) {
  background: #000;
}

#contact-us .navbar.fixed .navbar__toggler.close span:nth-child(odd) {
  background: transparent;
}

#contact-us .navbar.fixed .navbar__toggler.close span:nth-child(even) {
  background: #000;
}

#contact-us .navbar__toggler.close span:nth-child(2) {
  -webkit-transform: rotate(45deg) translateX(20%);
      -ms-transform: rotate(45deg) translateX(20%);
          transform: rotate(45deg) translateX(20%);
}

#contact-us .navbar__toggler.close span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translateX(20%);
      -ms-transform: rotate(-45deg) translateX(20%);
          transform: rotate(-45deg) translateX(20%);
}

#contact-us .navbar__hamburger-menu {
  background-color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
}

#contact-us .navbar__hamburger-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-us .navbar__hamburger-menu li:not(:last-child) {
  margin-bottom: 3rem;
}

#contact-us .navbar__hamburger-menu a {
  color: #222;
  display: block;
  font-family: 'Decalotype-Bold';
  font-size: 5rem;
  text-decoration: none;
}

#contact-us .navbar__hamburger-menu a:hover {
  color: #f16763;
}

#contact-us .navbar__hamburger-menu li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-us .navbar__hamburger-menu li:last-child a {
  margin: 0 2rem;
  height: 5rem;
  width: 5rem;
}

#contact-us .navbar__hamburger-menu li:last-child a:hover {
  -webkit-box-shadow: 0 0 1rem #000;
          box-shadow: 0 0 1rem #000;
  border-radius: 50%;
}

#contact-us .navbar__hamburger-menu li:last-child a img {
  width: 100%;
}

/* contact styles */
#contact-us .contact {
  min-height: calc(100vh - 12rem - 14rem);
}

#contact-us .contact__title {
  margin-bottom: 10rem;
}

#contact-us .contact__title h1 {
  font-family: 'Decalotype-Black';
  font-size: 4rem;
  position: relative;
}

#contact-us .contact__title h1:before {
  content: "";
  background-color: #3593c5;
  position: absolute;
  bottom: -3rem;
  left: 0;
  height: 3px;
  width: 5%;
}

#contact-us .contact__map {
  margin-bottom: 6rem;
  height: 50rem;
  width: 100%;
}

#contact-us .contact__map iframe {
  height: 100%;
  width: 100%;
}

#contact-us .contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

#contact-us .contact__info h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#contact-us .contact__form,
#contact-us .contact__offices {
  width: 48%;
}

#contact-us .contact__form input[type=text],
#contact-us .contact__form input[type=email],
#contact-us .contact__form textarea {
  background-color: #f6f6f6;
  border: none;
  color: #171717;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 2.5rem 3rem;
  width: 100%;
}

#contact-us .contact__form ::-webkit-input-placeholder {
  color: #171717;
}

#contact-us .contact__form ::-moz-placeholder {
  color: #171717;
}

#contact-us .contact__form :-ms-input-placeholder {
  color: #171717;
}

#contact-us .contact__form ::-ms-input-placeholder {
  color: #171717;
}

#contact-us .contact__form ::placeholder {
  color: #171717;
}

#contact-us .contact__form textarea {
  min-height: 20rem;
}

#contact-us .contact__form input[type=submit] {
  background-color: #f16763;
  border: none;
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 3rem;
}

#contact-us .contact__offices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-us .contact__office {
  width: 48%;
}

#contact-us .contact__image {
  margin-bottom: 3rem;
  width: 100%;
}

#contact-us .contact__image img {
  width: 100%;
}

#contact-us .contact__office p {
  font-family: 'Decalotype-Light';
  font-size: 2rem;
  line-height: 3rem;
}

/* footer styles */
#contact-us .footer {
  background-color: #3c84bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7rem;
  height: 14rem;
}

#contact-us .footer__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-us .footer__terms a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#contact-us .footer__terms a:first-child {
  margin-right: 5rem;
}

#contact-us .footer__terms a img {
  margin-bottom: 2rem;
  width: 5rem;
}

#contact-us .footer__logo {
  width: 10rem;
}

#contact-us .footer__logo img {
  width: 100%;
}

#contact-us .footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-us .footer__soc a {
  display: block;
  width: 5rem;
}

#contact-us .footer__soc a:last-child {
  margin-left: 5rem;
}

#contact-us .footer__soc a img {
  width: 100%;
}


/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 4px;
  }

  /* container styles */
  .container {
    padding: 0 2rem;
    max-width: 100%;
  }

  /* navbar styles */
  #contact-us .navbar {
    padding: 0 2rem;
  }

  /* contact styles */
  #contact-us .contact__map {
    height: 70rem;
  }

  #contact-us .contact__info h2 {
    font-size: 3rem;
  }

  #contact-us .contact__form input[type=text],
  #contact-us .contact__form input[type=email], 
  #contact-us .contact__form textarea {
    font-size: 2.5rem;
  }

  #contact-us .contact__office p {
    font-size: 2.5rem;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 5px;
  }

  /* contact styles */
  #contact-us .contact__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #contact-us .contact__form,
  #contact-us .contact__offices {
    margin: 0 auto;
    width: 80%;
  }

  #contact-us .contact__form {
    margin-bottom: 5rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 4px;
  }

  /* navbar styles */
  #contact-us .navbar {
    height: 16rem;
  }

  /* contact styles */
  #contact-us .contact {
    min-height: calc(100vh - 16rem - 14rem)
  }

  #contact-us .contact__form,
  #contact-us .contact__offices {
    width: 90%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  /* contact styles */
  #contact-us .contact__form,
  #contact-us .contact__offices {
    width: 100%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4px;
  }

  /* navbar styles */
  #contact-us .navbar {
    padding: 0 2rem;
  }
}