/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Medium';
  src: url('../fonts/Decalotype-Medium.eot');
  src: url('../fonts/Decalotype-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Medium.woff') format('woff'),
  url('../fonts/Decalotype-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-SemiBold';
  src: url('../fonts/Decalotype-SemiBold.eot');
  src: url('../fonts/Decalotype-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-SemiBold.woff') format('woff'),
  url('../fonts/Decalotype-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-MediumItalic';
  src: url('../fonts/Decalotype-MediumItalic.eot');
  src: url('../fonts/Decalotype-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-MediumItalic.woff') format('woff'),
  url('../fonts/Decalotype-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}
html, body {
  height: 100%;
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

.auto-scroll {
  overflow: auto;
}

/* wrapper styles */
.wrapper {
  background-color: #f7f7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  position: relative;
  -webkit-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);;
  height: 100%;
}

.menu-show {
  padding-left: 30rem;
}

.sidebar-show {
  padding-right: 40rem;
}

.sidebar-notepad {
  padding-right: 80rem;
}

/* menu styles */
.menu {
  background-color: #4bb4bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);;
  height: 100vh;
  width: 30rem;
  z-index: 999;
}

.menu-show .menu {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.menu__title {
  background-color: #3a7e89;
  padding: 2rem 0;
}

.menu__title h2 {
  color: #fff;
  font-family: 'Decalotype-SemiBold';
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 2rem 1rem;
}

.menu__search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__search label {
  display: block;
  height: 2rem;
  width: 2rem;
}

.menu__search label svg {
  fill: #fff;
  height: 2rem;
}

.menu__search input {
  border: none;
  background-color: transparent;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2rem;
  margin-right: 1rem;
  padding: .5rem 1rem;
  width: 100%;
}

.menu__search input:focus {
  outline: 0;
}

.menu__search-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__search-buttons a {
  display: block;
  height: 2rem;
}

.menu__search-buttons a:last-child {
  background-color: #fff;
  border-radius: .4rem;
  margin-left: 1rem;
}

.menu__search-buttons a img,
.menu__search-buttons a svg {
  height: 2rem;
}

.menu__search-buttons a svg {
  fill: #4bb4bf;
  padding: .2rem;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
}

.menu__list li {
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  padding: 1rem 1rem 1rem 3rem;
}

.menu__list li:nth-child(even) {
  background-color: transparent;
}

.menu__list li:nth-child(odd) {
  background-color: #387f8a;
}

.menu__list .active {
  background: url(../img/arrow.svg) left center no-repeat;
  background-size: 3rem 3rem;
}

.menu__footer {
  background-color: #387f8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem;
}

.menu__footer h3 {
  color: #fff;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.menu__footer a {
  background-color: #fff;
  border-radius: .4rem;
  display: block;
  height: 2rem;
}

.menu__footer a svg {
  fill: #387f8a;
  padding: .2rem;
  height: 2rem;
}

/* container styles */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

/* header styles */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  padding: 3rem 4rem 2rem;
  position: relative;
  width: 100%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  height: 8rem;
  width: 50%;
}

.header__logo img {
  height: 100%;
}

.header__logo input {
  background-color: transparent;
  border: none;
  color: #555;
  font-family: 'Decalotype-Bold';
  font-size: 2.5rem;
  margin-left: 1rem;
  padding: .5rem 1rem;
  width: 100%;
}

.header__logo input:focus {
  outline: 0;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  padding: 0;
  position: relative;
  height: 3rem;
}

.header__buttons button:last-child {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  margin-right: 0rem;
  padding: 0 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  height: 5rem;
}

.header__buttons button:last-child:hover {
  color: #000;
}

.header__buttons button:last-child img {
  margin-right: 1rem;
  height: 2rem;
}

.header__buttons button img {
  fill: #000;
  text-align: center;
  height: 3rem;
}

.header__buttons .tooltip {
  background-color: #b4b9c1;
  color: #fff;
  -webkit-clip-path: polygon(0 1rem, 35% 1rem, 50% 0, 65% 1rem, 100% 1rem, 100% 100%, 0 100%);
          clip-path: polygon(0 1rem, 35% 1rem, 50% 0, 65% 1rem, 100% 1rem, 100% 100%, 0 100%);
  font-size: 1.5rem;
  opacity: 0;
  padding: 2rem 1rem 1rem;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  visibility: hidden;
  white-space: nowrap;
}

.header__buttons button:focus {
  outline: 0;
}

.header__buttons button:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.header__video {
  background-color: #ec6966;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.header__video button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  margin: 0 auto;
  padding: 1rem 1rem .5rem;
  text-decoration: none;
  text-transform: uppercase;
  /*height: 2rem;*/
}

.header__video button img {
  margin-right: 1rem;
  height: 2rem;
}

/* heights of some blocks */
.content__element.element-40 {
  height: 40%;
}

.content__element.element-50 {
  height: 50%;
}

.content__element.element-60 {
  height: 60%;
}

.group-long {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.group-short {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.group-vshort {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.group-third {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}

/* content styles */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem 2rem;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  height: 100%;
}

.col {
  width: calc(20% - 2rem);
}

.content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.content__element {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.content__element:not(:last-child) {
  margin-bottom: 2rem;
}

.content-first,
.content-second {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content-first.show,
.content-second.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.content__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.content__group textarea {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.6rem;
  margin: 0 2rem 0rem;
  overflow: auto;
  resize: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  height: 100%;
  width: calc(100% - 4rem);
}

.content__textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 2rem;
  position: relative;
}
.content__textarea label {
  background: url(../img/lines.png), #fff;
  cursor: text;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: calc(100% - 4rem);
}

.content__textarea.before label {
  display: none;
}

.content__textarea.cut {
  margin-bottom: 6rem;
}

.content__group textarea:focus {
  outline: 0;
}

.content__logo-big {
  margin: 2rem auto;
  width: 14rem;
}

.content__logo-big img {
  width: 100%;
}

.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 2rem 0;
  text-transform: uppercase;
}

.content__title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.content__title h2 img {
  margin-right: .5rem;
  height: 2rem;
}

.content__title-btn {
  border: none;
  background-color: #4bb4bf;
  border-radius: 5rem;
  cursor: pointer;
  outline: none;
  position: relative;
  height: 2rem;
  width: 3.5rem;
}

.content__title-btn span {
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: .3rem;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1.3rem;
  width: 1.3rem;
}

.content__title-btn.off {
  background-color: #3a7e89;
}

.content__title-btn.off span {
  left: auto;
  right: .3rem;
}

.content__subtitle {
  margin: 0 2rem 0;
  text-transform: uppercase;
}

.content__subtitle h3 {
  color: #606060;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.content__subtitle h5 {
  font-family: 'Decalotype-Bold';
  font-size: 1.2rem;
  font-weight: bold;
}

.content__nav {
  background-color: #4bb4bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  width: 100%;
}

.content__nav.show {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
  height: 6rem;
}

.content__nav-comment {
  padding: 2rem 1rem;
}

.content__nav-comment a,
.content__nav-comment button {
  display: block;
  height: 2rem;
}

.content__nav-comment a svg,
.content__nav-comment button svg {
  fill: #fff;
  height: 2rem;
}

.content__nav-comment button {
  background-color: transparent;
  border: none;
}

.content__nav-comment button:focus {
  outline: 0;
}

.content__nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__nav-buttons a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  text-decoration: none;
}

.content__nav-buttons a:hover {
  text-decoration: underline;
}

.content__nav-buttons a:first-child {
  color: #387f8a;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.content__nav-buttons a:last-child {
  background-color: #387f8a;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  text-transform: uppercase;
  height: 100%;
}

.content__comment {
  background-color: #fff;
  display: none;
  position: absolute;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  width: 100%;
  z-index: 999;
}

.content__comment.show {
  display: block;
}

.content__comment.top {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  padding: 1rem 1rem 3rem;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.content__comment.top::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 94%, 60% 94%, 50% 100%, 40% 94%, 0 94%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

.content__comment.left {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
          clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
  padding: 1rem 2rem 1rem 1rem;
  left: -100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content__comment.left::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
          clip-path: polygon(0 0, 94% 0, 94% 40%, 100% 50%, 94% 60%, 94% 100%, 0 100%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

.content__comment.right {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
          clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
  padding: 1rem 1rem 1rem 2rem;
  right: -100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content__comment.right::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
          clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 60%, 0 50%, 4% 40%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

.content__comment.bottom {
  background-color: rgba(0, 0, 0, .1);
  -webkit-clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
          clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  padding: 3rem 1rem 1rem;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.content__comment.bottom::before {
  content: "";
  background-color: #fff;
  -webkit-clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
          clip-path: polygon(0 6%, 40% 6%, 50% 0, 60% 6%, 100% 6%, 100% 100%, 0 100%);
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: .1rem;
  right: .1rem;
  z-index: -1;
}

.content__comment-item {
  background-color: #fff;
  border-bottom: 1px solid #f7f7f9;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.content__comment-item p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.content__comment-item span {
  color: #b4b9c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2rem;
}

.content__comment-item span a {
  display: block;
  margin-left: 1rem;
  height: 1.2rem;
}

.content__comment-item span a img {
  height: 1.2rem;
}

.content__comment-form {
  background-color: #fff;
  text-align: center;
}

.content__comment-form textarea {
  border: 1px solid #ccc;
  margin: 0 0 1rem;
  padding: .5rem;
  height: 10rem;
  width: 100%;
}

.content__comment-form textarea::-webkit-input-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

.content__comment-form textarea::-moz-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

.content__comment-form textarea:-ms-input-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

.content__comment-form textarea::-ms-input-placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

.content__comment-form textarea::placeholder {
  color: #b4b9c1;
  text-transform: uppercase;
}

.content__comment-form input {
  background-color: #4bb4bf;
  border: none;
  border-radius: .5rem;
  color: #fff;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
}

.content__subgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 2rem 2rem;
}

.content__subgroup h3 {
  color: #606060;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.content__subgroup textarea {
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
}

.content__input-small {
  position: relative;
  height: 2rem;
  width: 100%;
}

.content__input-small input {
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid #999;
  width: 90%;
}

.content__input-small.hide input {
  border: none;
}

.content__input-small input:focus {
  outline: none;
}

.content__subgroup h5 {
  color: #606060;
  font-family: 'Decalotype-MediumItalic';
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
}

.content__subgroup-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content__subgroup:nth-of-type(2)
.content__subgroup-right {
  display: flex;
  flex-direction: column;
  -ms-align-items: flex-end;
  justify-content: flex-end;
}

.content__subgroup-right {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 7rem;
}

.content__subgroup-right input {
  background: transparent;
  border: 1px solid #333;
  height: 7rem;
  width: 7rem;
}

.content__subgroup-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.content__subgroup-colors span {
  display: block;
  margin-bottom: .5rem;
  height: 3rem;
  width: 3rem;
}

.content__subgroup-colors span:not(:last-child) {
  margin-right: 1rem;
}

.content__subgroup-left input.color-input {
  background: transparent;
  border: 1px solid #333;
  height: 3rem;
  width: 3rem;
}

.content__group.channel {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.content__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 2rem;
}

.content__calc:last-child {
  margin: 0 2rem 2rem;
}

.content__calc h4 {
  color: #000;
  font-family: 'Decalotype-Medium';
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.content__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: .5rem;
}

.content__line input {
  font-size: 1.3rem;
  padding: 0;
}

.content__line input:focus {
  outline: 0;
}

.content__line input:first-child {
  border: 0;
  border-bottom: 1px solid #333;
  margin-right: 1rem;
  width: 100%;
}

.content__line input:last-child {
  width: 5rem;
}

.content__line h5 {
  color: #606060;
  font-family: 'Decalotype-MediumItalic';
  font-size: 1.3rem;
  margin-right: 1rem;
  text-transform: uppercase;
  width: 100%;
}

/* footer styles */
.footer {
  background-color: #44a8ad;
}

.footer button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Decalotype-Bold';
  font-size: 2rem;
  margin: 0 auto;
  padding: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer button img {
  margin-right: 1rem;
  height: 2rem;
}

/* sidebar styles */
.sidebar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
  height: 100vh;
  width: auto;
}

.sidebar-show .sidebar,
.sidebar-notepad .sidebar {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.sidebar .history,
.sidebar .share,
.sidebar .account,
.sidebar .create,
.sidebar .notepad {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sidebar .history__title,
.sidebar .share__title,
.sidebar .account__title,
.sidebar .create__title,
.sidebar .notepad__title {
  background-color: #4bb4bf;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  padding: 2rem 0;
  position: relative;
}

.sidebar .history__title h2,
.sidebar .share__title h2,
.sidebar .account__title h2,
.sidebar .create__title h2,
.sidebar .notepad__title h2 {
  color: #fff;
  font-family: 'Decalotype-SemiBold';
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.sidebar__close {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
}

.sidebar__close button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  height: 100%;
  width: 100%;
}

.sidebar__close button:focus {
  outline: none;
}

/* history styles */
.history {
  display: none;
  width: 40rem;
}

.history.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history__list {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  padding: 2rem;
}

.history__list li {
  color: #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.history__list h3 {
  color: #000;
  font-family: 'Decalotype-Bold';
  font-size: 1.6rem;
}

/* share styles */
.share {
  display: none;
  width: 40rem;
}

.share.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem;
}

.share__block {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  padding: 2rem;
  text-align: center;
}

.share__block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.share__image {
  height: 4rem;
}

.share__image img {
  height: 100%;
}

.share__info {
  margin: 1rem 0 2rem;
}

.share__info h2 {
  font-family: 'Decalotype-Bold';
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.share__info p {
  color: #606060;
  font-size: 1.4rem;
}

.share__link {
  margin-bottom: 2rem;
}

.share__link a {
  color: #b4b9c1;
  font-size: 1rem;
}

.share__copy {
  background-color: #4bb4bf;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  font-size: 1.6rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
}

/* account styles */
.account {
  display: none;
  width: 40rem;
}

.account.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.account__group {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.account__group label {
  color: #b4b9c1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.2rem;
  padding: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.account__group input {
  border: none;
  background-color: transparent;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  padding: 1rem;
  text-align: right;
}

.account__group input[type="password"] {
  max-width: 60%;
}

.account__group input:focus {
  text-align: left;
  outline: none;
}

.account__form input[type="submit"] {
  background-color: #4bb4bf;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

.account__form input[type="button"] {
  background-color: transparent;
  border: none;
  color: #4bb4bf;
  cursor: pointer;
  font-size: 1.6rem;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

/* create styles */
.create {
  display: none;
  width: 40rem;
}

.create.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__title h4 {
  color: #fff;
  font-size: 1.8rem;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.create__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.create__content h3 {
  font-family: 'Decalotype-Bold';
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.create__content p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.create__content form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.create__content form input[type="text"] {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  width: 100%;
}

.create__content form input[type="submit"] {
  background-color: #4bb4bf;
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-family: 'Decalotype-Bold';
  font-size: 1.8rem;
  margin: 0 auto;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

/* notepad styles */
.notepad {
  display: none;
  width: 80rem;
}

.notepad.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu toggler styles */
.menu-toggler {
  position: absolute;
  top: 5.5rem;
  right: -3rem;
  z-index: 999;
}

.menu-toggler button {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 0 .5rem #777;
          box-shadow: 0 0 .5rem #777;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 3rem;
}

.menu-toggler button:focus {
  outline: 0;
}

.menu-toggler button svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 100%;
  width: 100%;
}

.menu-show .menu-toggler button svg {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* when notepad open */
/* wrapper styles */
.wrapper.column {
  height: auto;
}

/* header styles */
.wrapper.column .header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper.column .header__logo {
  width: 100%;
}

.wrapper.column .header__buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper.column .header__video {
  width: 100%;
}

/* content styles */
.wrapper.column .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.wrapper.column .col {
  width: 100%;
}

.wrapper.column .content__element {
  margin-bottom: 2rem;
}

.wrapper.column .content__logo-big {
  margin: 2rem auto 2rem 2rem;
}

.wrapper.column .content__subgroup h5 {
  font-size: 1.3rem;
  text-align: left;
}

.wrapper.column .content__line input {
  font-size: 1.8rem;
}

/* video popup styles */
.video-popup {
  background-color: #eee;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.video-popup.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-popup__title {
  padding: 2rem 0 4rem;
}

.video-popup__title h2 {
  color: #000;
  font-family: 'Decalotype-SemiBold';
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.video-popup__frame {
  height: 60%;
  width: 60%;
}

.video-popup__frame iframe {
  height: 100%;
  width: 100%;
}

.video-popup__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 5rem;
  width: 5rem;
}

.video-popup__close button {
  background-color: transparent;
  border: none;
  color: #ec6966;
  cursor: pointer;
  font-size: 4.5rem;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 7px;
  }

  /* wrapper styles */
  .wrapper {
    height: auto;
  }

  .menu-show {
    padding-left: 0;
  }

  .sidebar-show,
  .sidebar-notepad {
    padding-right: 0rem;
  }

  /* header styles */
  .header__video {
    width: 100%;
  }

  /* content styles */
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .content__element {
    margin-bottom: 2rem;
  }

  .content__logo-big {
    margin: 2rem auto 2rem 2rem;
  }

  .content__subgroup h5 {
    font-size: 1.3rem;
    text-align: left;
  }

  .content__line input {
    font-size: 1.8rem;
  }

  /* right styles */
  .sidebar {
    z-index: 999;
  }

  /* video popup styles */
  .video-popup__title h2 br {
    display: none;
  }
  .video-popup__frame {
    height: 30%;
    width: 100%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  /* video popup styles */
  .video-popup__frame {
    height: 60%;
    width: 80%;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 7px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 7px;
  }

  /* header styles */
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__logo {
    width: 100%;
  }

  .header__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 7px;
  }

  /* menu styles */
  .menu {
    width: 90%;
  }

  /* right styles */
  .sidebar {
    width: 100%;
  }

  .sidebar .history,
  .sidebar .share,
  .sidebar .account,
  .sidebar .notepad {
    width: 100%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 6px;
  }  
}