@font-face {
	font-family: "almoni-neue-aaa-400";  
	src: url("../fonts/almoni-neue-aaa-400.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400;
}
html, body {
	font-family: "almoni-neue-aaa-400";
	font-size: 12px;
	line-height: 1.1;
}
h1, h2, h3, h4, p, a, span, li, input {
	direction: rtl;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0;
}
.header, .content-top, .content-bottom, .footer {
	padding-left: 17.3rem !important;
	padding-right: 17.3rem !important;
}

/* header style */
.header {
	background: url(../img/header-bg.png) center no-repeat;
	background-size: 100% 100%;
	padding: 2rem 17.3rem 10rem;
	text-align: right;
}
.header a {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
}
.header .navbar-brand {
	padding-right: 18.8rem;
}
.navbar-dark .navbar-toggler {
	border: 0;
	color: #fff;
}
.navbar-toggler-icon {
	height: 2.5em;
	width: 2.5em;
}
.navbar-toggler {
	font-size: 3rem;
}
.header .navbar-collapse {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.form-inline {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	width: auto;
}
.header-search-input {
	background-color: rgba(204, 204, 204, .3);
	border: .1rem solid rgba(204, 204, 204, 0);
	border-top-left-radius: 3rem;
	border-bottom-left-radius: 3rem;
	color: #ccc;
	font-size: 2rem;
	font-weight: 300;
	padding: 0 1rem;
	height: 3rem;
	width: 20rem;
}
.header-search-input::-webkit-input-placeholder {
	color: #fff;
}
.header-search-input:-ms-input-placeholder {
	color: #fff;
}
.header-search-input::-ms-input-placeholder {
	color: #fff;
}
.header-search-input::placeholder {
	color: #fff;
}
.header-search-button {
	background-color: rgba(51, 51, 51, .3);
	border: .1rem solid rgba(51, 51, 51, 0);
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
}
.header-search-button img {
	height: auto;
	width: 100%;
}
.header .navbar-nav {
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header .navbar-nav .nav-item {
	padding-right: 4rem!important;
}
.header .navbar-nav .nav-item:first-child {
	padding-left: 4rem!important;
}
.header-language {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.header-language img {
	height: 2rem;
	width: 2rem;
}
.header-create-button {
	background-color: #fff;
	border-radius: 3rem/3rem;
}
.header-create-button a {
	color: #666;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1rem 2rem;
}
.header-create-button img {
	margin-left: 1rem;
	height: 2rem;
	width: 2rem;
}
.header-create-button.d-show {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.header-create-button.m-show {
	display: none;
}

/* header intro */
.header-intro {
	background: url(../img/header-cosmonaut.png) left top no-repeat;
	background-size: 40% auto;
	color: #fff;
	margin-top: 10rem;
	padding-top: 0rem;
	padding-bottom: 20rem;
}
.header-intro h1 {
	font-size: 5.8rem;
	font-weight: 700;
	line-height: 1.5;
}
.header h1 span.slash {
	font-size: 5.8rem;
}
.header-intro h1 span {
	font-size: 2.8rem;
}
.header-intro-button {
	text-align: center;
}
.header-intro p {
	font-size: 2.2rem;
	font-weight: 300;
}
.header-intro-button a {
	display: inline-block;
	background: -webkit-gradient(linear, left top, right top, from(#6ad9ea), to(#6afe77));
	background: -webkit-linear-gradient(left, #6ad9ea, #6afe77);
	background: -o-linear-gradient(left, #6ad9ea, #6afe77);
	background: linear-gradient(to right, #6ad9ea, #6afe77);
	border-radius: 5rem/5rem;
	font-size: 2.8rem;
	font-weight: 700;
	margin-top: 5rem;
	padding: 2rem 4rem;
	text-align: center;
}

/* content top style */
.content-top {
	padding: 5rem 17.3rem 0rem;
	position: relative;
	text-align: center;
}
.content-top::before {
	content: "";
	background: url(../img/content-top-bg.png) center top no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: -65rem;
	left: 0;
	height: 140rem;
	width: 100%;
	z-index: -1;
}
.content-top span {
	color: rgba(51, 51, 51, .5);
	font-size: 3.3rem;
	font-weight: 300;
}
.content-top hr {
	background: -webkit-gradient(linear, left top, right top, from(#6ad9ea), to(#6afe77));
	background: -webkit-linear-gradient(left, #6ad9ea, #6afe77);
	background: -o-linear-gradient(left, #6ad9ea, #6afe77);
	background: linear-gradient(to right, #6ad9ea, #6afe77);
	border: 0;
	margin: 0 auto;
	height: .5rem;
	width: 9rem;
} 
.content-top-title {
	color: #4d4d4d;
	font-size: 5.8rem;
	font-weight: 700;
	padding-top: 2rem;
	padding-bottom: 5rem;
}
.content-top__blocks-item {
	background-color: #fff;
	-webkit-box-shadow: 7px 7px 29px rgba(0, 0, 0, .25);
	box-shadow: 7px 7px 29px rgba(0, 0, 0, .25);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 10rem 2rem;
}
.content-top__blocks-item img {
	height: auto;
	width: 15rem;
}
.content-top__blocks-item h2 {
	color: #666;
	font-size: 2.2rem;
	font-weight: 400;
	padding-top: 3rem;
}

/* content middle style */
.content-middle {
	color: #fff;
	padding: 5rem 17.3rem;
	text-align: center;
	position: relative;
}
.content-middle:before {
	content: "";
	background: url(../img/content-middle-bg.png) top center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: -17rem;
	left: 0;
	height: 70rem;
	width: 100%;
	z-index: -1;
}
.content-middle h2 {
	font-size: 11.1rem;
	font-weight: 700;
}
.content-middle h3 {
	font-size: 5.8rem;
	font-weight: 400;
}

/* content bottom style */
.content-bottom {
	color: #fff;
	padding: 5rem 0rem;
	text-align: center;
	position: relative;
	height: 390rem;
}
.content-bottom:before {
	content: "";
	background: url(../img/content-bottom-stars.png) top center repeat-y,
	url(../img/content-bottom-bg.png) top center no-repeat;
	background-size: contain, 100% 100%;
	position: absolute;
	top: 0rem;
	left: 0;
	height: 450rem;
	width: 100%;
	z-index: -2;
}
.content-bottom:after {
	content: "";
	background: url(../img/planets-bg.png) top center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0rem;
	left: 0;
	height: 450rem;
	width: 100%;
	z-index: -2;
}
.content-bottom>h2 {
	font-size: 4.9rem;
	font-weight: 700;
	letter-spacing: 6rem;
	padding-top: 15rem;
	padding-bottom: 5rem;
}
.content-bottom-item {
	position: relative;
}
.content-bottom-item p {
	font-size: 2.5rem;
	font-weight: 400;
	padding-right: 2.5rem;
	position: relative;
	text-align: right;
}
.content-bottom-item p span {
	font-size: 2rem;
	position: absolute;
	right: 0;
	top: .5rem;
}
.content-bottom-item h2 {
	font-size: 3.1rem;
	font-weight: 700;
	letter-spacing: 6rem;
}
.content-bottom-item.planet-1 {
	top: 2%;
	right: 0%;
}
.content-bottom-item.planet-2 {
	max-width: 53rem;
	top: 6%;
	left: -7%;
}
.content-bottom-item.planet-3 {
	max-width: 55rem;
	top: 8%;
	left: 25%;
}
.content-bottom-item.planet-4 {
	max-width: 50rem;
	top: 16%;
	left: 60%;
}
.content-bottom-item.planet-5 {
	max-width: 51rem;
	top: 16%;
	left: 0%;
}
.content-bottom-item.planet-6 {
	top: 78rem;
	left: 0rem;
}
.content-bottom-item.planet-7 {
	max-width: 50rem;
	top: 26%;
	left: 60%;
}
.content-bottom-item.planet-8 {
	top: 113rem;
	left: 0rem;
}
.content-bottom-item.planet-9 {
	max-width: 47rem;
	top: 35%;
	left: 30%;
}
.content-bottom-item.planet-10 {
	top: 150rem;
	left: 0rem;
}
.content-bottom-item h3 {
	font-size: 4.9rem;
	font-weight: 700;
}
.content-botoom-item .content-bottom-button {
	color: #fff;
	display: inline-block;
	background: -webkit-gradient(linear, left top, right top, from(#6ad9ea), to(#6afe77));
	background: -webkit-linear-gradient(left, #6ad9ea, #6afe77);
	background: -o-linear-gradient(left, #6ad9ea, #6afe77);
	background: linear-gradient(to right, #6ad9ea, #6afe77);
	border-radius: 5rem/5rem;
	font-size: 2.8rem;
	font-weight: 700;
	margin-top: 5rem;
	padding: 3rem 7rem;
	position: relative;
	top: 180rem;
}

/* content bottom mobile style */
.content-bottom-mobile {
	color: #fff;
	display: none;
	padding-top: 25rem;
	position: relative;
	text-align: right;
	height: 500rem;
}
.content-bottom-mobile:before {
	content: "";
	background: url(../img/content-bottom-stars.png) top center repeat-y,
	url(../img/content-bottom-bg.png) top center no-repeat;
	background-size: contain, 100% 100%;
	position: absolute;
	top: 0rem;
	left: 0;
	height: 580rem;
	width: 100%;
	z-index: -2;
}
.content-bottom-mobile:after {
	content: "";
	background: url(../img/planets-bg-mobile.png) top center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0rem;
	left: 0;
	height: 450rem;
	width: 100%;
	z-index: -2;
}
.content-bottom-mobile-item {
	position: relative;
	right: 5rem;
	width: 63rem;
}
.content-bottom-mobile-item p {
	font-size: 4.5rem;
}
.content-bottom-mobile-item.planet-1 {
	top: 0%;
}
.content-bottom-mobile-item.planet-2 {
	top: 3%;
}
.content-bottom-mobile-item.planet-3 {
	top: 5%;
}
.content-bottom-mobile-item.planet-4 {
	top: 8%;
}
.content-bottom-mobile-item.planet-5 {
	top: 13%;
}
.content-bottom-mobile-item.planet-6 {
	top: 15%;
}
.content-bottom-mobile-item.planet-7 {
	top: 20%;
}
.content-bottom-mobile-button {
	color: #fff;
	display: inline-block;
	background: -webkit-gradient(linear, left top, right top, from(#6ad9ea), to(#6afe77));
	background: -webkit-linear-gradient(left, #6ad9ea, #6afe77);
	background: -o-linear-gradient(left, #6ad9ea, #6afe77);
	background: linear-gradient(to right, #6ad9ea, #6afe77);
	border-radius: 5rem/5rem;
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: .5rem;
	margin-top: 10rem;
	padding: 1.5rem 4rem;
	position: relative;
	top: 130rem;
}
.content-bottom-mobile-button img {
	width: 25%;
}

/* footer style */
.footer {
	padding: 0rem 17.3rem;
	text-align: right;
}
.footer-images-item {
	text-align: center;
}
.footer-images img {
	width: 50%;
}
.footer hr {
	background: -webkit-gradient(linear, left top, right top, from(#6ad8ed), to(#9322dd));
	background: -webkit-linear-gradient(left, #6ad8ed, #9322dd);
	background: -o-linear-gradient(left, #6ad8ed, #9322dd);
	background: linear-gradient(to right, #6ad8ed, #9322dd);
	border: 0;
	margin: 3rem 0;
	height: .2rem;
}
.footer-logo {
	text-align: center;
}
.footer-logo img {
	max-width: 20rem;
}
.footer-create-button {
	background-color: #fff;
	border-radius: 3rem/3rem;
	display: inline-block;
	margin-top: 5rem;
}
.footer-create-button a {
	color: #666;
	display: block;
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem 1.5rem;
}
.footer-create-button img {
	margin-left: .5rem;
	height: 2rem;
	width: 2rem;
}
.footer-menu a {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 5rem;
}
.footer-contacts h2 {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 3rem;
}
.footer-contacts p {
	color: #777;
	font-size: 2rem;
	font-weight: 300;
	padding-bottom: 3rem;
}
.footer-container-mobile {
	display: none;
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1536px) and (max-width: 1799.98px) {
	html, body {
		font-size: calc(10px + 1 * ((100vw - 640px) / 960));
	}
	.header, .content-top, .content-bottom, .footer {
		padding-left: 15rem !important;
		padding-right: 15rem !important;
	}

	/* header style */
	.header .navbar-brand {
		padding-right: 10rem;
	}

	/* content bottom style */
	.content-bottom-item.planet-2 {
		top: 5%;
		left: -12%;
	}
	.content-bottom-item.planet-3 {
		left: 20%;
	}
	.content-bottom-item.planet-5 {
		top: 15%;
		left: -7%;
	}
	.content-bottom-item.planet-9 {
		top: 34%;
		left: 29%;
	}
}
@media (min-width: 1440px) and (max-width: 1535.98px) {
	html, body {
		font-size: calc(9px + 1 * ((100vw - 640px) / 960));
	}
	.header, .content-top, .content-bottom, .footer {
		padding-left: 13rem !important;
		padding-right: 13rem !important;
	}
	
	/* content bottom style */
	.content-bottom-item.planet-3 {
		left: 23%;
	}
	.content-bottom-item.planet-5 {
		top: 15%;
		left: -4%;
	}
	.content-bottom-item.planet-9 {
		top: 34%;
		left: 29%;
	}
}
@media (min-width: 1200px) and (max-width: 1439.98px) {
	html, body {
		font-size: calc(8px + 1 * ((100vw - 640px) / 960));
	}
	.header, .content-top, .content-bottom, .footer {
		padding-left: 8rem !important;
		padding-right: 8rem !important;
	}
	
	/* content bottom style */
	.content-bottom-item.planet-2 {
		top: 5%;
		left: -5%;
	}
	.content-bottom-item.planet-3 {
		left: 23%;
	}
	.content-bottom-item.planet-5 {
		left: -1%;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	html, body {
		font-size: calc(7px + 1 * ((100vw - 640px) / 960));
	}
	.header, .content-top, .content-bottom, .footer {
		padding-left: 4rem !important;
		padding-right: 4rem !important;
	}

	/* header style */
	.header .navbar-brand {
		padding-right: 10rem;
	}

	/* content bottom style */
	.content-bottom-item.planet-2 {
		top: 5%;
		left: -1%;
	}
	.content-bottom-item.planet-3 {
		top: 8%;
		left: 25%;
	}
	.content-bottom-item.planet-5 {
		top: 16%;
		left: 0%;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	html, body {
		font-size: calc(6px + 1 * ((100vw - 640px) / 960));
	}
	.header, .content-top, .content-bottom, .footer {
		padding-left: 4.5rem !important;
		padding-right: 4.5rem !important;
	}

	/* header style */
	.header .navbar-brand {
		padding-right: 0rem;
	}
	.header-create-button.m-show {
		display: none;
	}

	/* content bottom style */
	.content-bottom-item.planet-1 {
		right: 5%;
	}
	.content-bottom-item.planet-2 {
		left: -1%;
	}
	.content-bottom-item.planet-7 {
		top: 27%;
		left: 59%;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	html, body {
		font-size: calc(5px + 1 * ((100vw - 640px) / 960));
	}
	.header, .content-top, .content-bottom, .footer {
		padding-left: 5rem !important;
		padding-right: 5rem !important;
	}
	.row {
		margin: 0;
	}

	/* header style */
	.header {
		background: url(../img/header-mobile-bg.png) center no-repeat;
		background-size: 100% 100%;
		padding: 2rem 17.3rem 5rem;
		text-align: right;
	}
	.header a {
		font-size: 5rem;
	}
	.header-create-button a {
		font-size: 4rem;
	}
	.header .navbar-brand {
		padding-right: 0rem;
		width: 50%
	}
	.header .navbar-brand img {
		width: 100%;
	}	
	.header .navbar-collapse {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.header-search-input {
		border-top-left-radius: 5rem;
		border-bottom-left-radius: 5rem;
		color: #ccc;
		font-size: 5rem;
		padding: 0 1rem;
		height: 8rem;
		width: 90%;
	}
	.header-search-button {
		border-top-right-radius: 5rem;
		border-bottom-right-radius: 5rem;
		height: 8rem;
		width: 10%;
	}
	.header-search-button img {
		width: 50%;
	}
	.header .navbar-collapse {
		padding-top: 2rem;
	}
	.header .navbar-nav {
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
	}
	.header .navbar-nav .nav-item {
		padding-right: 4rem!important;
	}
	.header .navbar-nav .nav-item:first-child {
		padding-left: 4rem!important;
	}
	.header-language {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.header-language img {
		margin-left: 2rem;
		height: 7rem;
		width: 7rem;
	}
	.header-create-button {
		background-color: #fff;
		border-radius: 5rem/5rem;
		padding: 1rem 2rem;
	}
	.header-create-button img {
		margin-left: 1rem;
		height: 3rem;
		width: 3rem;
	}
	.header-create-button.d-show {
		display: none;
	}
	.header-create-button.m-show {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	/* header intro */
	.header-intro {
		background: none;
	}
	.header-intro h1 {
		font-size: 7rem;
	}
	.header-intro h1 span {
		display: none;
	}
	.header-intro p {
		color: #ccc;
		font-size: 5rem;
		line-height: 1.5;
	}
	.header-intro-button {
		text-align: right;
	}
	.header-intro-button a {
		font-size: 4rem;
		margin-top: 10rem;
		padding: 1rem 2rem;
	}
	.header-intro-button a img {
		width: 25%;
	}

	/* content top style */
	.content-top::before {
		height: 280rem;
	}
	.content-top span {
		font-size: 7rem;
	}
	.content-top hr {
		height: .7rem;
		width: 13rem;
	} 
	.content-top-title {
		font-size: 4.5rem;
		line-height: 1.5;
	}
	.content-top__blocks {
		padding: 0 5rem;
	}
	.content-top__blocks-item {
		direction: rtl;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		margin-bottom: 5rem;
		padding: 5rem 2rem;
	}	
	.content-top__blocks-item img {
		width: 30rem;
	}
	.content-top__blocks-item h2 {
		font-size: 5rem;
	}

	/* content middle style */
	.content-middle:before {
		height: 60rem;
	}
	.content-middle h2 {
		color: #000;
		font-size: 7rem;
	}
	.content-middle h3 {
		font-size: 7rem;
	}

	/* content bottom style */
	.content-bottom {
		display: none;
	}
	.content-bottom-mobile {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	/* footer style */
	.footer-images {
		display: none;
	}
	.footer hr {
		display: none;
	}
	.footer-container {
		display: none;
	}
	.footer-container-mobile {
		display: block;
		padding: 0 10rem;
	}
	.footer-mobile-logo {
		text-align: left;
	}
	.footer-mobile-logo img {
		max-width: 20rem;
	}
	.footer-mobile-create-button {
		background-color: #fff;
		border-radius: 3rem/3rem;
		display: inline-block;
		margin-top: 5rem;
		margin-left: auto;
		margin-bottom: 3rem;
	}
	.footer-mobile-create-button a {
		color: #666;
		display: block;
		font-size: 2.5rem;
		font-weight: 700;
		padding: 1.5rem 2.5rem;
	}
	.footer-mobile-create-button img {
		margin-left: 1rem;
		height: 2rem;
		width: 2rem;
	}
	.footer-mobile-menu a {
		color: #fff;
		font-size: 3rem;
		font-weight: 700;
		padding-bottom: 2rem;
	}
	.footer-mobile-contacts h2 {
		color: #fff;
		font-size: 3rem;
		font-weight: 700;
		padding-bottom: 3rem;
	}
	.footer-mobile-contacts p {
		color: #777;
		font-size: 3rem;
		font-weight: 300;
		padding-bottom: 3rem;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	html, body {
		font-size: calc(4px + 1 * ((100vw - 640px) / 960));
	}
	.header, .content-top, .content-bottom, .footer {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
	.row {
		margin: 0;
	}

	/* header style */
	.header {
		background: url(../img/header-mobile-bg.png) center no-repeat;
		background-size: 100% 100%;
		padding: 2rem 17.3rem 5rem;
		text-align: right;
	}
	.header a {
		font-size: 5rem;
	}
	.header-create-button a {
		font-size: 4rem;
	}
	.header .navbar-brand {
		padding-right: 0rem;
		width: 50%
	}
	.header .navbar-brand img {
		width: 100%;
	}
	.header .navbar-collapse {
		padding-top: 2rem;
	}
	.header-search-input {
		border-top-left-radius: 5rem;
		border-bottom-left-radius: 5rem;
		color: #ccc;
		font-size: 5rem;
		padding: 0 1rem;
		height: 9rem;
		width: 90%;
	}
	.header-search-button {
		border-top-right-radius: 5rem;
		border-bottom-right-radius: 5rem;
		height: 9rem;
		width: 10%;
	}
	.header-search-button img {
		width: 60%;
	}
	.header .navbar-nav {
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
	}
	.header .navbar-nav .nav-item {
		padding-right: 4rem!important;
	}
	.header .navbar-nav .nav-item:first-child {
		padding-left: 4rem!important;
	}
	.header-language {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.header-language img {
		margin-left: 2rem;
		height: 7rem;
		width: 7rem;
	}
	.header-create-button img {
		margin-left: 1rem;
		height: 3rem;
		width: 3rem;
	}
	.header-create-button.d-show {
		display: none;
	}
	.header-create-button.m-show {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	/* header intro */
	.header-intro {
		background: none;
	}
	.header-intro h1 {
		font-size: 7rem;
	}
	.header-intro h1 span {
		display: none;
	}
	.header-intro p {
		color: #ccc;
		font-size: 5rem;
		line-height: 1.5;
	}
	.header-intro-button {
		text-align: right;
	}
	.header-intro-button a {
		font-size: 4rem;
		margin-top: 10rem;
		padding: 1rem 2rem;
	}
	.header-intro-button a img {
		width: 25%;
	}

	/* content top style */
	.content-top::before {
		height: 280rem;
	}
	.content-top span {
		font-size: 7rem;
	}
	.content-top hr {
		height: .7rem;
		width: 13rem;
	} 
	.content-top-title {
		font-size: 4.5rem;
		line-height: 1.5;
	}
	.content-top__blocks {
		padding: 0 5rem;
	}
	.content-top__blocks-item {
		direction: rtl;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		margin-bottom: 5rem;
		padding: 5rem 2rem;
	}	
	.content-top__blocks-item img {
		width: 30rem;
	}
	.content-top__blocks-item h2 {
		font-size: 5rem;
	}

	/* content middle style */
	.content-middle:before {
		height: 60rem;
	}
	.content-middle h2 {
		color: #000;
		font-size: 7rem;
	}
	.content-middle h3 {
		font-size: 7rem;
	}

	/* content bottom style */
	.content-bottom {
		display: none;
	}
	.content-bottom-mobile {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	/* footer style */
	.footer-images {
		display: none;
	}
	.footer hr {
		display: none;
	}
	.footer-container {
		display: none;
	}
	.footer-container-mobile {
		display: block;
		padding: 0 10rem;
	}
	.footer-mobile-logo {
		text-align: left;
	}
	.footer-mobile-logo img {
		max-width: 20rem;
	}
	.footer-mobile-create-button {
		background-color: #fff;
		border-radius: 3rem/3rem;
		display: inline-block;
		margin-top: 5rem;
		margin-left: auto;
		margin-bottom: 3rem;
	}
	.footer-mobile-create-button a {
		color: #666;
		display: block;
		font-size: 2.5rem;
		font-weight: 700;
		padding: 1.5rem 2.5rem;
	}
	.footer-mobile-create-button img {
		margin-left: 1rem;
		height: 2rem;
		width: 2rem;
	}
	.footer-mobile-menu a {
		color: #fff;
		font-size: 3rem;
		font-weight: 700;
		padding-bottom: 2rem;
	}
	.footer-mobile-contacts h2 {
		color: #fff;
		font-size: 3rem;
		font-weight: 700;
		padding-bottom: 3rem;
	}
	.footer-mobile-contacts p {
		color: #777;
		font-size: 3rem;
		font-weight: 300;
		padding-bottom: 3rem;
	}
}