* {
	margin: 0;
	padding: 0;
	letter-spacing: 0px;
}
button{
	cursor: pointer;
}
textarea:focus,
input:focus {
	outline: none;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

@font-face {
	font-family: "Decalotype-Bold";
	src: url(../fonts/Decalotype-Bold.ttf);
}

@font-face {
	font-family: "Decalotype-SemiBold";
	src: url(../fonts/Decalotype-SemiBold.otf);
}

@font-face {
	font-family: "Decalotype-Black";
	src: url(../fonts/Decalotype-Black.otf);
}

@font-face {
	font-family: "Decalotype-Regular";
	src: url(../fonts/Decalotype-Regular.ttf);
}

@font-face {
	font-family: "Decalotype-Medium";
	src: url(../fonts/Decalotype-Medium.otf);
}

@font-face {
	font-family: "Decalotype-Light";
	src: url(../fonts/Decalotype-Light.otf);
}

body {
	background-color: #f2f2f2;
}

p,
a,
li,
span,
button {
	font-family: "Decalotype-Regular";
	color: #3b3b3b;
}

h1,
h2,
h3 {
	font-family: "Decalotype-Bold";
}

.main {
	width: 100%;
	margin: 0 auto;
}

.content {
	max-width: 965px;
	margin: 0 auto;
	background-color: #f2f2f2;
}

.half {
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;
}

.half-l {
	width: 55%;
}

.half-s {
	width: 45%;
}

.half-l .halfleft {
	margin-left: 75px;
}

.half-l .halfcont h2 {
	max-width: 460px;
}

.rowbg3 img.box {
	margin-top: 10px;
}


.row {
	width: 100%;
	clear: both;
	background: #f2f2f2;
	content: "";
	display: table;
	clear: both;
}

header {
	background: url("../img/headerbg.jpg");
	background-size: cover;
	background-position: 60% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
	color: white;
	padding-bottom: 215px;
}

header h1,
header p {
	margin-left: 50px;
	color: white;
}

header .header-content {
	max-width: 900px;
	margin: 0 auto;
}

header h1 {
	font-size: 36px;
	margin-top: 70px;
	font-family: "Decalotype-Black";
	letter-spacing: 3.5px;
}

header p {
	font-size: 18px;
	margin-top: 10px;
	letter-spacing: 1.8px;
}

header img.logo {
	float: left;
	margin-left: 50px;
	padding-top: 90px;

}

.firstr {
	padding-top: 40px;
	padding-bottom: 85px;
}

img.box {
	display: block;
	position: relative;
	width: auto;
	margin-left: 15%;
	margin-right: 30px;
	z-index: 10;
}

img.box-3 {
	margin-top: 40px;
}

img.box.right-box {
	margin-left: auto;
	margin-right: 30px;
}

.halfcont {
	width: 77%;
	margin-left: 30px;
	margin-right: auto;
}

.halfcont p {
	padding-left: 10px;
	font-size: 14px;
	line-height: 1.95;
	font-family: "Decalotype-light";
	color: #5e5d5d;
}

.halfleft {
	margin-left: 23%;
	margin-right: auto;
}

.halfcont h2 {
	margin-top: 45px;
	font-size: 28px;
	color: #ed8585;
	padding-bottom: 25px;
	font-family: "Decalotype-Black";
	padding-left: 10px;
	max-width: 360px;
	letter-spacing: 3px;
	position: relative;
	margin-bottom: 25px;
	z-index: 1;
}

.second-sub h2 {
	padding-bottom: 17px;
	margin-bottom: 11px;

}

.halfcont h2:after {
	content: '';
	position: absolute;
	height: 3px;
	width: 500px;
	background-color: #379dd7;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.halfcont.halfleft h2 {
	padding-bottom: 14px;
	margin-bottom: 20px;

}

.halfcont.halfleft h2:after {
	left: 0;
}

.third-row {
	margin-bottom: 110px;
}

.rowbg {
	background-color: #f2f2f2;
}

.rowbg2 {
	background-color: #f2f2f2;
}

.rowbg3 {
	background-color: #f2f2f2;
}

.rowbg3 {}

.blue {
	background-color: #379dd7;
	background-image: url("../img/gear.png");
	background-repeat: no-repeat;
	background-size: 27%;
	background-position: 100% 54px;
	margin: 140px 0;
	margin-bottom: 74px;
}

.blue-wrap {
	background-color: #379dd7;
}

.blue2-wrap {
	background-color: #379dd7;
}

.blue2 {
	background-color: #379dd7;
	background-image: url("../img/target.png");
	background-repeat: no-repeat;
	background-size: 35%;
	background-position: 99% 42px;
	margin: 90px 0;
	margin-bottom: 83px;
}

.blue2 .blcont {
	padding-top: 55px;
}

.blue2 .blcont h3 {
	font-family: "Decalotype-SemiBold";
}


.blcont {
	padding: 60px 0 50px 90px;
}

.blcont p {
	font-size: 24px;
	color: white;
	font-family: "Decalotype-Black";
	letter-spacing: 2px;
}

.blcont h3 {
	color: white;
	font-size: 20px;
}

.blue2 p {
	margin-top: 23px;
	font-size: 16px;
	font-family: "Decalotype-Regular";
	letter-spacing: 1.5px;
	line-height: 1.43;
	font-size: #6f6e6e;
}


.pcont p {
	display: block;
	max-width: 735px;
	margin: 0 auto;
	text-align: center;
	font-family: "Decalotype-Regular";
	font-size: 16px;
	color: #6f6e6e;
	line-height: 1.4;
	padding: 0 30px;
}

.fullsep {
	width: 100%;
	height: 3px;
	background: #379dd7;
}

.picrow {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 65px;
	padding-bottom: 80px;
}
.pics-wrap{
	position: relative;
}
.pics-wrap:before{
	top: 60%;
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	height: 1px;
	border-bottom: 1px dashed #379dd7;
	z-index: 0;
	
}
.lex-item-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.picrow img {
	margin-left: 10px;
	margin-top: 10px;
	width: auto;
	-webkit-box-shadow: 0px 8px 24.3px 2.7px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 8px 24.3px 2.7px rgba(0, 0, 0, 0.22);
	z-index: 10;
}

.picrow img:last-child {
	margin-right: 0px;
}

.circlescont {
	max-width: 755px;
	margin: 0 auto;
}
.circles-wrap{
	position: relative;
}
.circles-wrap:before {
    top: 78%;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px dashed #379dd7;
    z-index: 0;
}

.circles .pcont {
	padding-top: 70px;
}

.circles .pcont p {
	font-size: 15px;
	font-family: "Decalotype-Medium";
}

.circles .pcont h3 {
	font-size: 16px;
	text-align: center;
	padding: 18px 0;
	padding-bottom: 80px;
	color: #3b3b3b;
	letter-spacing: 1.5px;
}

.circle {
	width: 24%;
	float: left;
	background: url("../img/circlebg.png");
	background-repeat: no-repeat;
	background-size: auto;
	padding: 50px 0px;
	background-position: center;
	margin-right: 10px;
}

.circle:last-child {
	margin-right: 0px;
}

.circles {
	margin-bottom: 90px;
}

.contbox {
	overflow: hidden;
}

.blubox {
	float: left;
	background-color: #379dd7;
	color: white;
	text-align: center;
	height: 320px;
}

.blubox1,
.blubox3 {
	width: 35%;
}

.blubox2 {
	width: 30%;
}

.blubox3 .bluecont {
	float: left;
	margin-left: 35px;
	padding-bottom: 0;

}

.blubox3 .bluecont p {
	max-width: 200px;
}

.blubox3 .bluecont img {
	padding-top: 15px;
}


.blubox:nth-child(2) {
	background-color: #f2f2f2;
}

.blubox:nth-child(2) .bluecont p {
	color: #379dd7;
}

.bluecont {
	width: 55%;
	float: right;
	margin-right: 30px;
	text-align: center;
	padding-bottom: 17px;
}

.bluecont img {
	margin: 35px 0;
	margin-bottom: 29px;
}

.bluecont p {
	max-width: 180px;
	padding-bottom: 20px;
	color: white;
	font-size: 14px;
}

.blubox2 .bluecont {
	width: 100%;
	margin: 0;
	height: 100%;
	background-color: #f2f2f2;

}

.blubox2 .bluecont p {
	margin: 0 auto;
	padding-top: 15px;

}

.thboxes {
	margin: 20px 0 100px 0;
}

.thboxes-wrap {
	background-color: #379dd7;
}

.contbox {
	background-color: #f2f2f2;
}

.started h2 {
	font-family: "Decalotype-Black";
	color: #379dd7;
	font-size: 48px;
	text-align: center;
}

.started p {
	padding-top: 7px;
	color: #3b3b3b;
	font-size: 14px;
	text-align: center;
}

.sep {
	width: 120px;
	height: 3px;
	margin: 0 auto;
	background: #379dd7;
	margin-top: 20px;
}

.selectbox {

	max-width: 65%;
	margin: 0 auto;
	margin-top: 85px;
	background: white;
	-webkit-box-shadow: 0px 8px 24.3px 2.7px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 8px 24.3px 2.7px rgba(0, 0, 0, 0.3);
}

.selectbox ul {
	width: 100%;
	background-color: #ed8585;
}

.selectbox ul li {
	list-style-type: none;
	width: 33.32%;
	float: left;
	text-align: center;
	background: #ed8585;
	padding: 15px 0;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.selectbox ul li:nth-child(2) {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-left: solid 1px white;
	border-right: solid 1px white;
}

.selectbox ul li.selected {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-top: solid 5px #ed8585;
	background: white;
	color: #ed8585;
	padding-top: 10px;
}

.checks {
	clear: both;
	padding: 60px 40px 40px 28px;
	display: none;
}

.displayb {
	display: block;
}

.checks .inp {
	font-size: 16px;
	padding-bottom: 22px;
}

.checks .inp input {
	margin-top: 10px;
	float: left;
}

.checks .inp span {
	display: block;
	max-width: 455px;
	line-height: 1.1;
	margin-left: 55px;

}

input[type=radio]:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url("../img/ch2.png");
}

input[type=radio]:checked:before {
	background: url("../img/ch1.png");
}

h2.bluetxt {
	padding-top: 105px;
}

.reservebox {
	width: 66%;
	margin: 0 auto;
	background: white;
	margin-top: 70px;
	position: relative;
}

.reservebox ul li {
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: white;
	box-sizing: border-box;
	list-style-type: none;
	border: solid 3px #ed8585;
	cursor: pointer;
}

.reservebox ul li p {
	font-size: 24px;
	text-align: center;
	color: #ed8585;
	padding: 10px 0;
	padding-top: 46px;
	font-family: "Decalotype-Bold";
}

.reservebox ul li p.bigprice {
	font-size: 57px;
	padding-bottom: 40px;
	padding-top: 8px;
}

.reservebox ul li.highlight {
	background: #ed8585;
	border: solid 3px #ed8585;
}

.reservebox ul li.highlight p {
	color: white;
}

img.save {
	position: absolute;
	bottom: 30px;
	right: -28px;
}

button.res {
	display: block;
	width: 66%;
	background: #379dd7;
	font-size: 38px;
	font-family: "Decalotype-Bold";
	color: white;
	padding: 28px 0;
	margin: 0 auto;
	margin-top: 82px;
	margin-bottom: 170px;
	border: none;
}

.bottom-line {
	content: '';
	width: 100%;
	height: 20px;
	background-color: #a1a1a1;
}


/*---- Footer  ----*/
footer{
	background-color: #3c84bf;
	width: 100%;
}
footer a{
	text-decoration: none;
}
footer .right-bar{
	float: right;
	width: 30%;
	padding-top: 27px;
}
footer .left-bar{
	padding-top: 27px;
	float: left;
	width: 30%;
}
.footer-logo{
	width: 40%;
	float: left;
	padding-top: 11px;
}
.footer-logo img{
	display: block;
	width: 52px;
	height: auto;
	margin: 0 auto;
}

footer p{
	font-size: 8px;
	font-family: 'Arial', sans-serif;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
	letter-spacing: 2px;
	
}
footer .l1, footer .l2, footer .r1, footer .r2{
	display: inline-block;
	
}
footer .l1{
	margin-right: 25px;
}
footer .r1{
	margin-right: 25px;
}
footer .r1, footer .r2{
	display: inline-block;
	float: right;
}

footer .l1 img, footer .l2 img, footer .r1 img, footer .r2 img{
	width: 26px;
	height: 26px;
	margin: 0 auto;
	display: block;
}
footer .r2 img{
	margin-right: 40px;
}
/*---- /footer  ----*/

/* responsive  */

@media screen and (min-width: 1200px) {

	header .header-content{
		max-width: 1100px;
	}
	.half-shift2{
		width: 60%;
	}
	.half-shift1{
		width: 40%;
	}
	.circlescont{
		max-width: 100%;
	}
	.halfcont p{
		font-size: 17px;
	}
	img.save{
		width: 130px;
		bottom: 0px;
	}
	.checks .inp span{
		min-width: 90%;
	}
	header{
		padding-bottom: 190px;
	}
	header h1{
		font-size: 50px;
	}
	header p{
		font-size: 20px;
	}
	.thboxes-wrap .content{
		max-width: 100%;
	}
	.bluecont, .blubox3 .bluecont{
		width: 100%;
		padding-top: 60px;
		margin: 0;
	}
	.bluecont p, .blubox3 .bluecont p{
		max-width: 350px;
		width: 350px;
		height: auto;
		font-size: 20px;
		margin: 0 auto;
	}
	.bluecont img{
		width: 80px;
		padding-top: 0;
	}
	.blubox{
		height: 400px;
	}
	.halfcont h2:after{
		width: 900px;
		right: -310px;
	}
	.pcont p{
		max-width: 950px;
	}
	.rowbg3 img.box{
		margin-left: auto;
		margin-right: 0;
	}
	img.box{
		margin-left: 75px;
	}
	img.box.right-box{
		margin-right: 0px;
		margin-left: auto;
	}
	.halfcont, .halfleft{
		width: 94%;
		margin-right: 75px;
	}
	.halfleft{
		margin-left: 75px;
	}
	.content {
		max-width: 1200px;
	}
}
@media screen and (max-width: 965px) {
	.upper-header{
		content: '';
		width: 100%;
		height: 80px;
		background-color: #4299ce;
	}
	header h1{
		margin-top: 0;
	}
	header img.logo{
		padding-top: 30px;
		padding-bottom: 20px;
	}
		footer .content{
		width: 90%;
	}
	.content {
		max-width: 965px;
	}
}

@media screen and (max-width: 1024px) {

	.rowbg,
	.rowbg2,
	.rowbg3 {
		background-image: none;
	}
	.circlescont {
		background-position: 0 45%;
	}
	img.save {
		position: absolute;
		margin-left: 276px;
		margin-top: -124px;
	}
}

@media screen and (max-width: 768px) {

	.pics-wrap:before{
		display: none;
	}
	img.box{
		width: 90%;
	}
	img.box{
		margin-left: 5%;
	}
	img.box.right-box{
		margin-left: 5%;
	}
img.box.right-box
	.circles-wrap:before {
		display: none;
	}
	.blcont {
		padding: 50px 0 50px 23px;
	}
	.blcont h3 {
		font-size: 18px;
	}
	.blue2 p {
		font-size: 16px;
	}
	.circle {
		width: 48%;
		margin-right: 0;
		margin-bottom: 50px;
	}
	.circles {
		margin-bottom: 0;
	}
	.circlescont {
		margin: 0 40px;
	}
	.bluecont {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.blubox3 .bluecont {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
	.blubox3 .bluecont p {
		margin: 0;
		width: 90%;
		max-width: 100%;
		margin: 0 auto;
	}
	.bluecont p {
		width: 90%;
		max-width: 100%;
		margin: 0 auto;
	}
	.selectbox {
		max-width: 85%;
	}
	.reservebox {
		width: 85%;
	}
	button.res {
		width: 85%;
		margin-left: 7.5%;
	}
	.circles-wrap:before{
		display: none;
	}
}

@media screen and (max-width: 670px) {

	.halfcont h2:after{
		width: 100%;
	}
	img.box{
		width: 60%;
	}
	.rowbg2, .rowbg3{
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.half-tot{
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.half-tob{
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	img.save{
		top: 100px;
	}
	.half-l,
	half-s {
		width: 100%;
		margin: 0 auto;
	}
	.firstr .half,
	.third-row .half,
	.half-l .half,
	.half-s {
		width: 100%;
	}
	.firstr img.box,
	.third-row img.box,
	.half-s img.box,
	.half-s img.box {
		margin: 0 auto;
	}
	.firstr .halfcont,
	.third-row .halfcont,
	.half-l .halfcont,
	.half-s .halfcont {
		margin: 0 auto;
	}
	.rowbg2 .half {
		width: 100%;
		margin: 0 auto;
	}
	.rowbg2 .half img {
		margin: 0 auto;
	}
	.rowbg2 .half .halfleft {
		margin: 0 auto;
	}
	header {
		background-position: 72% 50%;
	}
}

@media screen and (max-width: 470px) {
		header {
		background-position: 75% 50%;
	}
	footer .r2 img{
		margin: 0 auto;
		margin-top: 30px;
	}
	footer .l1, footer .l2, footer .r1, footer .r2{
		display: block;
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	.footer-logo{
		padding-top: 45px;
	}
	.third-row .half {
		width: 100%;
	}
	.halfleft {
		margin-left: 0;
	}
	.halfcont h2 {
		margin-top: 0;
	}
	.blcont p {
		font-size: 14px;
	}
	.blcont h3 {
		font-size: 14px;
	}
	.blue2 {
		background-image: none;
	}
	.circle {
		width: 100%;
	}
	.circle {
		margin-bottom: 20px;
	}
	.circlescont {
		background: none;
	}
	.blubox {
		width: 100%;
	}
	.selectbox {
		max-width: 95%;
	}

}

@media screen and (max-width: 425px) {
	.picrow img{
		margin-left: 25%;
		width: 50%;
	}
	.selectbox {
		width: 98%;
	}
}