/* Fonts */
@font-face {
  font-family: 'Decalotype-Regular';
  src: url('../fonts/Decalotype-Regular.eot');
  src: url('../fonts/Decalotype-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Regular.woff') format('woff'),
  url('../fonts/Decalotype-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-Bold';
  src: url('../fonts/Decalotype-Bold.eot');
  src: url('../fonts/Decalotype-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-Bold.woff') format('woff'),
  url('../fonts/Decalotype-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Decalotype-ExtraBold';
  src: url('../fonts/Decalotype-ExtraBold.eot');
  src: url('../fonts/Decalotype-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Decalotype-ExtraBold.woff') format('woff'),
  url('../fonts/Decalotype-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Decalotype-Regular';
  font-weight: 400;
  line-height: normal;
}

a {
  color: #000000;
  text-decoration: none;
}

/* buttons styles */
.btn {
  background-color: #f16763;
  color: #ffffff;
  display: inline-block;
  font-size: 2.5rem;
  padding: 1rem 5.5rem;
}

/* container styles */
.container {
  margin: 0 auto;
  height: 100%;
  max-width: 130rem;
}

/* header styles */
.header {
  background: url(../img/bg-image.png) top right no-repeat, #369dd7;
  background-size: 100% 101%;
}

/* navbar styles */
.navbar {
  background-color: #fff;
  padding: 1.5rem 0;
  text-align: right;
}

/* intro styles */
.intro .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 0 10rem;
}

.intro__title {
  color: #ffffff;
}

.intro__title h1 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 7rem;
  margin-bottom: 5rem;
}

.intro__title h2 {
  font-size: 3.5rem;
}
.intro__title {}

.intro__book {
  max-width: 35rem;
}

.intro__book img {
  width: 100%;
}

/* wrapper styles */
.wrapper {
  background-color: #369dd7;
}

/* resources styles */
.resources {
  background-color: #fff;
  text-align: center;
}

.resources__title {
  padding: 7rem 0 8.5rem;
}

.resources__title h2 {
  font-family: 'Decalotype-Bold';
  font-size: 7rem;
}

.resources__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.resources__download {
  box-shadow: 0.3rem 0.2rem 2rem rgba(0, 0, 0, 0.16);
  margin-top: 5rem;
  text-align: center;
  height: 100%;
  width: 30%;
}

.resources__download-img {
  margin: 3rem auto;
  max-width: 6rem;
}

.resources__download-img img {
  width: 100%;
}

.resources__download h3 {
  font-family: 'Decalotype-Bold';
  font-size: 4rem;
  margin-bottom: 3rem;
}

.resources__download p {
  font-size: 2rem;
  margin-bottom: 3.5rem;
}

.resources__download a {
  font-family: 'Decalotype-Bold';
  margin-bottom: 3rem;
}

.resources__exclusive {
  box-shadow: 0.3rem 0.2rem 2rem rgba(0, 0, 0, 0.16);
  text-align: center;
  height: 100%;
  width: 65%;
}

.resources__exclusive-title {
  background-color: #f16763;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.resources__exclusive-title h3 {
  color: #ffffff;
  font-family: 'Decalotype-Bold';
  font-size: 2.2rem;
  font-style: italic;
  text-transform: uppercase;
}

.resources__exclusive-block {
  display: flex;
  flex-direction: row;
}

.resources__info,
.resources__avatar {
  width: 50%;
}

.resources__info-img {
  margin: 3rem auto;
  max-width: 8rem;
}

.resources__info-img img {
  width: 100%;
}

.resources__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.resources__info h4 {
  font-family: 'Decalotype-Bold';
  font-size: 4rem;
  margin-bottom: 3.5rem;
}

.resources__info p {
  font-size: 2rem;
  margin-bottom: 5.6rem;
}

.resources__info a {
  width: 85%;
}

.resources__avatar img {
  width: 100%;
}

/* what styles */
.what {
  background-color: #fff;
  margin: 6rem 0;
  padding: 10.5rem 0 8rem;
  text-align: center;
}

.what h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 5.5rem;
  margin-bottom: 2.5rem;
}

.what p {
  font-size: 2.5rem;
}

.what p:not(:last-of-type) {
  margin-bottom: 3rem;
}

.what p:last-of-type {
  margin-bottom: 5.5rem;
}

/* more styles */
.more {
  background: url(../img/more-bg-img.png) center no-repeat, #dee0ec;
  background-size: contain;
  position: relative;
}

.more::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
}

.more .container {
  color: #fff;
  padding: 6rem 0 3.6rem;
  position: relative;
  z-index: 9;
}

.more__title h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 4.9rem;
  margin-bottom: 4.6rem;
  text-transform: uppercase;
}

.more__info {
  margin-bottom: 6.4rem;
  max-width: 57rem;
}

.more__info p {
  font-size: 2.4rem;
}

.more__info p:not(:last-child) {
  margin-bottom: 3.5rem;
}

/* footer styles */
.footer {
  background-color: #369dd7;
  padding: 6rem 0;
}

.footer__bg {
  background-color: #fff;
  padding: 4rem 0 5rem;
}

.footer .container {
  display: flex;
  flex-direction: row;
}

.footer__data {
  margin-right: 30rem;
}

.footer__logo {
  margin-bottom: 3.5rem;
  max-width: 30rem;
}

.footer__logo img {
  width: 100%;
}

.footer__address {
  margin-bottom: 4rem;
}

.footer__address h3 {
  font-size: 2.5rem;
}

.footer__address h3:first-child {
  margin-bottom: 4rem;
}

.footer__soc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__soc a {
  display: block;
  max-width: 8rem;
}

.footer__soc a img {
  width: 100%;
}

.footer__slogan {
  position: relative;
}

.footer__slogan h2 {
  font-family: 'Decalotype-ExtraBold';
  font-size: 7rem;
  line-height: 8rem;
}

.footer__bg-image {
  position: absolute;
  top: -14rem;
  right: -15rem;
  max-width: 30rem;
}

.footer__bg-image img {
  width: 100%;
}



/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }

  /* container styles */
  .container {
    padding: 0 3rem;
  }

  /* intro styles */
  .intro .container {
    padding: 8rem 3rem 10rem;
  }

  /* more styles */
  .more {
    background-position: bottom right -5rem;
  }

  .more .container {
    padding: 6rem 3rem 3rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }

  /* buttons styles */
  .btn {
    font-size: 3rem;
  }

  /* container styles */
  .container {
    padding: 0 3rem;
  }

  /* intro styles */
  .intro .container {
    padding: 8rem 3rem 10rem;
  }

  /* resources styles */
  .resources__title {
    padding: 3rem 0 5rem;
  }

  .resources__container {
    flex-direction: column;
    align-items: center;
  }

  .resources__container br {
    display: none;
  }

  .resources__download {
    margin: 0 0 3rem;
    padding: 0 3rem;
    width: auto;
  }

  .resources__download p {
    margin-bottom: 2rem;
  }

  .resources__download p,
  .resources__info p {
    font-size: 2.5rem;
  }

  .resources__exclusive {
    width: auto;
  }

  .resources__exclusive-title {
    height: 7rem;
  }

  .resources__exclusive-title h3 {
    font-size: 2.8rem;
  }

  .resources__info {
    width: 65%;
  }

  .resources__info-img {
    margin: 2rem auto;
  }

  .resources__info p {
    margin-bottom: 0;
  }

  .resources__avatar {
    width: 35%;
  }

  /* what styles */
  .what {
    padding: 5rem 0 3rem;
  }

  /* more styles */
  .more {
    background-position: bottom right -5rem;
  }
  
  .more .container {
    padding: 6rem 3rem 3rem;
  }

  /* footer styles */
  .footer .container {
    justify-content: space-between;
  }

  .footer__data {
    margin-right: 0rem;
  }

  .footer__bg-image {
    position: absolute;
    top: 0rem;
    right: 0rem;
    max-width: 15rem;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 6px;
  }

  /* more styles */
  .more__info {
    max-width: 55rem;
  }

  .more__info p {
    font-size: 2.6rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
  html {
    font-size: 6px;
  }

  /* header styles */
  .header {
    background: #369dd7;
  }

  /* resouces styles */
  .resources__info {
    width: 55%;
  }

  .resources__info-block {
    padding: 0 1rem;
  }

  .resources__avatar {
    width: 45%;
  }

  /* what styles */
  .what br {
    display: none;
  }

  /* more styles */
  .more__info {
    max-width: 50rem;
  }

  /* footer styles */
  .footer__slogan h2 {
    font-size: 6rem;
    line-height: 7rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 5px;
  }

  /* resouces styles */
  .resources__info,
  .resources__avatar {
    width: 50%;
  }

  /* footer styles */
  .footer__bg-image {
    position: absolute;
    top: 0rem;
    right: 0rem;
    max-width: 15rem;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4px;
  }

  /* footer styles */
  .footer__data {
    margin-right: 0;
  }

  .footer__slogan h2 {
    font-size: 6rem;
  }

  .footer__bg-image {
    position: absolute;
    top: 0rem;
    right: 0rem;
    max-width: 15rem;
  }
}