/* Fonts */
@font-face {
  font-family: 'AquaGrotesque';
  src: url('../fonts/AquaGrotesque.eot');
  src: url('../fonts/AquaGrotesque.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AquaGrotesque.woff') format('woff'),
  url('../fonts/AquaGrotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url('../fonts/ProximaNova-RegularIt.eot');
  src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
}

body {
  color: #fff;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  border-bottom: .3rem solid #ae1d98;
  color : #75FFF4;
  display: inline-block;
  font-family: 'ProximaNova-Bold';
  font-size : 3.6rem;
  font-weight: bold;
  line-height : 4.5rem;  
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.1rem;
  line-height: 3.9rem;
}

p {
  margin: 0;
  padding: 0;
}

/* header styles */
.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__intro {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
}

.header__intro .container {
  padding: 5rem 0;
}

.header__info {
  padding-right: 1rem;
  width: 30%;
}

.header__info h1 {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}

.header__info h1::before {
  content: "";
  background-color: #75FFF4;
  position: absolute;
  bottom: 0;
  right: 0;
  height: .5rem;
  width: 50%;
}

.header__info p {
  font-family: 'ProximaNova-Light';
  font-size: 2.2rem;
  opacity: .83;
  text-align: right;
}

.header__info strong {
  display: block;
  font-family: 'ProximaNova-Bold';
  font-size: 2.5rem;
  font-weight: bold;
}

.header__logo {
  height: 13.5rem;
}

.header__logo img {
  height: 100%;
}

.navbar {
  background-image: linear-gradient(to bottom, #12265b 0%, #16256f 100%);
  padding: 2rem 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav-link {
  color: #fff !important;
  font-size: 3.3rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #75FFF4 !important;
}

/* main styles */
.main {
  background-color: #12387c;
}

/* highlights styles */
.highlights {
  padding-top: 6rem;
}

.highlights__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
}

.highlights__element {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
  border-left: .3rem solid #ae1d98;
  margin-left: .5rem;
  padding: 1.5rem 0;
  text-align: center;
  width: calc(100% / 5 - .5rem);
}

.highlights__element span {
  font-family: 'ProximaNova-RegularIt';
  font-size: 2.4rem;
}

.highlights__paragraph {
  font-size: 2.6rem;
  line-height: 4.5rem;
  margin: 2rem 0 5rem .5rem;
  padding: 0 1.5rem;
}

/* experience styles */
.experience {
  margin-bottom: 5rem;
}

.experience__logo {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
  border-radius: 5rem;
  margin: 0 1rem 2rem;
  padding: 2.5rem 0;
  text-align: center;
  height: 9rem;
}

.experience__logo::before {
  content: "";
  background-color: #ae1d98;
  position: absolute;
  top: 0;
  right: -1px;
  height: 9rem;
  width: 2px;
}

.experience__elements {
  padding: 0 1rem;
}

.experience__element:last-child .experience__logo::before {
  content: "";
  height: 0;
  width: 0;
}

.experience__logo img {
  height: 100%;
}

.experience__description {
  display: flex;
  flex-direction: row;
}

.experience__description p {
  font-family: 'ProximaNova-Light';
  font-size: 2rem;
  line-height: 1.2;
  padding-left: 5rem;
  position: relative;
}

.experience__description span {
  font-family: 'ProximaNova-Light';
  font-size: 1.8rem;
  opacity: .48;
  position: absolute;
  left: 1.5rem;
  transform: rotate(-90deg) translateX(-110%);
  transform-origin: left top 0;
  white-space: nowrap;
}

.experience__description strong {
  display: block;
  font-family: 'ProximaNova-Bold';
  font-size: 2rem;
}

/* skills styles */
.skills__elements {
  margin-bottom: 5rem;
}

.skills__element {
  text-align: center;
}

.skills__logo {
  margin: 2rem 0;
  height: 10rem;
}

.skills__logo img {
  height: 100%;
}

.skills__description {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
  border-radius: 2rem 2rem 0 0;
  margin: 0 2rem 0;
  padding: 1rem 2rem;
  position: relative;
}

.skills__description::before {
  content: "";
  background-color: #ae1d98;
  position: absolute;
  bottom: 0;
  left: 0;
  height: .3rem;
  width: 25%;
}

.skills__description p {
  font-size: 2.5rem;
  opacity: .8;
  text-align: left;
}

/* portfolio styles */
.portfolio__gallery-item {
  margin-bottom: 20px;
  max-width: calc((100% / 3) - 14px);
  text-align: center;
}

.portfolio__gallery-item img {
  width: 100%;
}






















/* Bootstrap 4 @media */
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1440px){
  .container {
    max-width: 1300px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 8px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 7px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 6px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 5px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html {
    font-size: 4px;
  }
}